<!-- authors: Ricky P & Michael L -->
<!-- new/edit squares form partial -->

<%= form_for(square) do |f| %>
  <%= render 'error_messages', object: f.object %>

	<!-- hidden field for school id, set to current teacher's school -->
  <% if local_assigns[:isNew] %>
    <%= f.hidden_field :school_id, :value => current_teacher.school_id%>
  <% end %>

  <!-- Name field -->
  <div class="row form-row2 pad20">
  	<div class="col-xs-10 col-md-6 form-group">
  		<label>Square name</label>
  		<% if local_assigns[:isNew] %>
	    	<%= f.text_field :screen_name, required: true, 
	      			class: "form-control form-input-tweak",
  	    			maxlength: "4", onKeyup: "trackName(this.value)" %>
			<% else %>
				<%= f.text_field :screen_name, :readonly => true, 
							class: "form-control form-input-tweak" %>
			<% end %>
		</div>
		<div class="col-xs-1 text-left" style="padding-top: 24px;">
			<span class="fa fa-fw fa-2x fa-question-circle color-scheme-blue"
						title="Help: Square name and type"
						data-toggle="popover" data-trigger="click" data-target="#popover" 
						data-container="body" data-placement="bottom"
						data-content="The name and type attributes of behavior squares cannot be changed after the square is created.
		This ensures the integrity of data in student behavior sessions." ></span>
		</div>
  </div>

	<div class="form-spacer"></div>

	<!-- color and type fields, with interactive sample square -->
	<div class="row form-row2">
		<div class="col-xs-6 form-group">
			<div class="row">
				<div class="col-xs-12">
					<!-- spinner has int value of Type masked with the name -->
					<label>Type</label>
					<% if local_assigns[:isNew] %>
						<%= f.select :tracking_type,[['Counter',1],['Timer',2]],
									{}, {class: 'form-control'} %>
  				<% else %>
						<%= f.text_field :tracking_type, :value => ux_square_tracking_type( square), 
									:readonly => true, class: 'form-control form-input-tweak' %>
					<% end %>
				</div>

				<div class="col-xs-12 pad20">
					<label>Color</label>
					<%= f.select :color, squareColors.map {|color| [color.titleize, color]}, 
          		      {}, {class: 'form-control form-input-tweak'} %>
				</div>
			</div>
		</div>
		
		<div class="col-xs-5 col-xs-offset-1 pad40">
			<div id="sample-square-color" class="bsquare-icon <%= icon_color(square) %> text-center" >
	  		<h3 id="sample-square-name"><%= square.screen_name %></h3>
				<span id="sample-square-icon" class="fa fa-fw fa-lg <%= ux_square_fa_icon(square) %>"></span>
			</div>   <!-- behavior-square -->
		</div>
	</div>   <!-- row -->


  <!-- square description (required) -->
	<div class="row form-row2 pad20">
		<div class="col-xs-10 form-group">
			<label>Description</label>
		  <%= f.text_area :description, required: true, class: "form-control info-textarea" %>
		</div>
	</div>   <!-- row -->

  <!-- OK/cancel buttons. -->
  <div class="row form-row2 pad20">
	  <div class="col-xs-10"> 
      <% if local_assigns[:isNew] %>
        <%= button_tag(type: 'submit', class: "btn btn-lg btn-success") do %>Add New Square<%end%>
				&nbsp; &nbsp; &nbsp;
	      <%= link_to 'Cancel', squares_path, class: "btn btn-lg  btn-danger" %>
      <% else %>
        <%= button_tag(type: 'submit', class: "btn btn-lg btn-success") do %>Save Changes<%end%>
        &nbsp; &nbsp; &nbsp;
	      <%= link_to 'Cancel', 'edit', class: "btn btn-lg  btn-danger",
	      			:title => "Back to Setup teacher page" %>
      <% end %>
    </div>
  </div>
<% end %>

<!-- 
	Javascript below is specifically for this Squares page.
	It makes the sample teacher icon change interactively with color or icon spinner.
	CSS ID's make this (spaghetti code) work: 
		#square_color - the Rails-created ID for the color spinner
		#square_tracking_tpye - the Rails-created ID for the tracking type checkbox
		#sample-square-color - div where sample icon color is set
		#sample-square-icon - div where icon is set based on tracking type
-->
<script>
	$(document).ready(function() {
		$('#square_color').change(function() {
			setColor();
		});
		$('#square_tracking_type').change(function() {
			setIcon();
		});
	});

	function setColor() {
		var color =  $('#square_color').find('option:selected').attr('value');
		$('#sample-square-color').removeClass();
		$('#sample-square-color').addClass('bsquare-icon');
		$('#sample-square-color').addClass('i-' + color);
		$('#sample-square-color').addClass('text-center');
	}
	function setIcon() {
		var icon =  $('#square_tracking_type').find('option:selected').attr('value');
		$('#sample-square-icon').removeClass();
		$('#sample-square-icon').addClass('fa fa-fw fa-lg');
		if( icon == 1) { 
		  $('#sample-square-icon').addClass('fa-plus');
		}
		else if( icon == 2) {
			$('#sample-square-icon').addClass('fa-clock-o');
		}
	}
  function trackName( value) {
    //var name = document.getElementById("square_screen_name").value;
	  //var name =  $('#square_screen_name').find('option:selected').attr('value');
  	$("#sample-square-color h3").html(value);
	}
</script>
