<!-- authors: Ricky Perez & Michael Loptien -->
<% provide(:title, "Square page") %>

<!-- page header -->
<%= render partial: 'square_page_header', 
			:locals => { 	:title => "Edit square", 
										:subtitle => "edit attributes of behavior square, #{ @square.screen_name }"} %>

<%= form_for(@square) do |f| %>
  <%= render 'error_messages', object: f.object %>

  <!-- ID field -->
  <div class="row form-row">
  	<div class="col-xs-2 col-xs-offset-1">
  		<h4>Square ID:</h4>
  	</div> 
  	<div class="col-xs-2">
      <%= f.text_field :screen_name, readonly: true, class: "form-control" %>
  	</div>
  </div>

	<!-- color and type fields, with interactive sample square -->
	<div class="row form-row vertical-align">
		<!-- color and icon spinners in the 1st column -->
		<div class="col-xs-4 col-xs-offset-1">

			<div class="row form-row">
				<div class="col-xs-3"><h4>Color: </h4></div>
				<div class="col-xs-6 col-xs-offset-3">
				  <%= f.text_field :color, readonly: true, class: "form-control" %>
				</div>
			</div>   <!-- row, color spinner -->
  
  		<div class="row form-row">
  			<div class="col-xs-3"><h4>Type: </h4></div>
		  	<!-- spinner has int value of Type masked with the name -->
  			<div class="col-xs-6 col-xs-offset-3">
  			  <%= f.text_field :tracking_type, readonly: true, class: "form-control" %>
  			</div>
  		</div>   <!-- row, type spinner -->
  	</div>   <!-- col, spinners -->

  	<div class="col-xs-4">
  		<!-- interactive sample square in this 2nd col -->
			<div class="col-xs-2 col-xs-offset-1">
	      <div class="bsquare-icon <%= icon_color(@square) %> text-center" >
	  			<h3><%= @square.screen_name %></h3>
			    <span class="fa fa-fw fa-lg <%= ux_square_fa_icon(@square) %>"></span>
	  		</div>   <!-- behavior-square -->
    	</div>
 		</div>   <!-- col, sample square -->
	</div>   <!-- row -->

  <div class="form-spacer">	&nbsp;</div>

  <!-- square description (required) -->
	<div class="row form-row">
		<div class="col-xs-2 col-xs-offset-1">
			<h4>Description:</h4>
		</div>
		<div class="col-sm-6">
		  <%= f.text_area :description, readonly: true, class: "form-control info-textarea" %>
		</div>
	</div>   <!-- form-row -->

  <!-- OK/cancel buttons. -->
  <div class="row pad40">
	  <div class="col-xs-6 col-xs-offset-1 text-center">
      <%= link_to 'Done', home_path, class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
