<% provide(:title, "Login") %>
<%= render 'layouts/navbar_login' %>

<div class="container">
	<div class="row login-row">
		<div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">

			<!-- display flash errors if any, like Bad Password, etc -->
			<%= render 'layouts/flash' %>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 well login-col">

		<!-- Geogem login logo, title and version -->
		<%= image_tag("logos/smallgem.png", 
					:class => "img-responsive pull-left login-logo", :alt => "GeoGem logo") %>
    <h1 class="login-header-text">
    	GeoGem <small> <%= DeployHelper.geogem_version =%> </small>
    </h1>
		<br>

		<!-- Login for: username, password, submit -->
		<%= form_for(:login_session, url: login_path) do |f| %>
			<div class="form-group login-form">


<!--				<%= f.label 'Username' %>  -->
				<%= f.text_field :user_name, required: true, placeholder: 'Username', class: 'form-control form-input-tweak'%>

				<br>
<!-- 			  <%= f.label :password %>  -->
			  <%= f.password_field :password, required: true, placeholder: 'Password', class: 'form-control form-input-tweak' %>

				<br>
				<%= f.submit "Log in", class: "btn btn-primary btn-lg center-block form-control login-button-tweak" %>
			</div>
			<br>
		<% end %>

		</div>   <!-- login-col --> 
	</div>   <!-- row -->
</div>   <!-- container -->

<script>
	$( document ).ready(function() {
		// focus mouse into the username field for convenience
		$("#login_session_user_name").focus();

		// trim whitespace out of username on login
		$(".btn.btn-primary").click(function() {
			var rawUsername = $("#login_session_user_name").val();
			var trimUsername = $.trim(rawUsername);
			$("#login_session_user_name").val(trimUsername);
		});
	});
</script>
