<!-- @author: Matthew O & Alex P -->
<% provide(:title, "End session") %>

<div class="page-header vertical-align">
  <div class="col-xs-11">
    <h2>End Session<small> - session stats for student <%= @student.screen_name%></small></h2>
  </div>
  <div class="col-xs-1">
    <div class ="header-sq i-<%= @student.color %>">
      <span class="fa fa-<%= @student.icon %>  fa-2x student-icon "></span>
    </div>
  </div>
</div>   <!-- page-header -->

<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
    <!-- Display the session duration -->
    <h4>Session Duration: <%= calculateDuration =%></h4>
    <br>

    <!-- Show end session summary report -->
    <h4>Quick Summary:</h4>
    <table class="table table-striped table-hover table-responsive">
      <thead>
        <tr>
          <th>Behavior</th>
          <th>Type</th>
          <th>Data</th>
        </tr>
      </thead>
      <tbody>
        <!--Print students squares names in the table -->
        <% @squares.each do |square| %>
          <tr>
            <td>
              <p class="listText"><%=square.screen_name %></p>
            </td>
            <td>
              <% if square.tracking_type == 2 %> <!-- Frequency -->
                <label>Frequency</label>
                <td><%=getFrequency(square)%></td><!--Get frequency and add data to table -->
              <% end %>
              <% if square.tracking_type == 3 %> <!--Interval -->
                <label>Interval</label>
                <td><%=getInterval(square)%></td><!--Get interval and add data to table -->
              <% end %>
              <% if square.tracking_type == 1 %> <!-- Duration-->
                <label>Duration</label>
                <td><%=formatTime(getDuration(square))%></td><!--Get duration and add data to table -->
              <% end %>
            </td>
          </tr>
        <%end%>
      </tbody>
    </table>

  </div>   <!-- col -->
</div>   <!-- row -->

<div class="row">
   <div class="col-xs-10 col-xs-offset-1 text-center">
      <a href="/home" class="btn btn-lg btn-primary">Home</a>
      &nbsp; &nbsp; &nbsp;
      <%= link_to 'Print Report', {:controller => "reports", :action => "report1", 
       :id=> @session.id} , {:method=>:post, class: "btn btn-lg btn-success", target: '_blank'} %>
   </div>
</div>
