<!-- @author: Matthew O & Alex P -->
<% provide(:title, "End session") %>

<div class="page-header vertical-align">
  <div class="col-xs-11">
    <h2>End Session<small> - session stats for student, <%= @student.full_name %></small></h2>
  </div>
  <div class="col-xs-1">
    <div class="student-page-header-icon <%= icon_color(@student) %>" 
					title="student=<%= @student.full_name %>" >
			<span class="fa fa-2x fa-fw <%= fa_icon(@student) %>"></span>
		</div>
  </div>
</div>   <!-- page-header -->


<%= form_for(@session) do |f| %>
  <div class="row form-row2">

    <div class="col-xs-10 col-md-6 col-lg-4 form-group">
      <label for="studentField">Student</label>
      <input type="text" class="form-control form-input-tweak" id="studentField" 
            readonly="readonly" value="<%= @student.full_name %>">
    </div>

    <div class="col-xs-10 col-md-6 col-lg-4 form-group">
      <label for="teacherField">Teacher</label>
      <input type="text" class="form-control form-input-tweak" id="teacherField" 
            readonly="readonly" value="<%= @teacher.full_name %>">
    </div>

    <div class="clearfix"></div>

    <div class="col-xs-10 col-md-6 col-lg-4 form-group">
      <label for="startField">Start time</label>
      <input type="text" class="form-control form-input-tweak" id="startField" 
            readonly="readonly" value="<%= ux_session_start_time( @session, true) %>">
    </div>

    <div class="col-xs-10 col-md-6 col-lg-4 form-group">
      <label for="endField">End time</label>
      <input type="text" class="form-control form-input-tweak" id="endField" 
            readonly="readonly" value="<%= ux_session_end_time( @session, true) %>">
    </div>

    <div class="clearfix"></div>

    <div class="col-xs-10 col-md-6 col-lg-4 form-group">
      <label for="durationField">Duration</label>
      <input type="text" class="form-control form-input-tweak" id="durationField" 
            readonly="readonly" value="<%= ux_session_duration( @session) %>">
    </div>

    <div class="col-xs-10 col-md-6 col-lg-4 form-group">
      <label for="numeventsField">Number of events</label>
      <input type="text" class="form-control form-input-tweak" id="numeventsField" 
            readonly="readonly" value="<%= @events.count %>">
    </div>
  </div>   <!-- form-row -->

<% end %>   <!-- sessions form -->


<!-- javascript to support the collapsible evens table -->
<!-- source for Bootstrap collapse is: http://getbootstrap.com/javascript/ -->
<script>
	$(document).ready(function() {
    // handle collapsing event details section
    $('.collapse').on('shown.bs.collapse', function(){
      $(this).parent().find(".fa-plus").toggleClass("fa-plus fa-minus");
    });
    $('.collapse').on('hidden.bs.collapse', function(){
      $(this).parent().find(".fa-minus").toggleClass("fa-plus fa-minus");
    });
	});
</script>

<!-- collapsible div part 1: the +/- button to show/collapse content -->
<div class="row row-tweak">
  <div class="col-xs-6">
    <a href="#collapseExample" data-toggle="collapse" aria-expanded="false" aria-controls="collapseExample">
      <button type="button" class="btn btn-lg btn-info">
          <span class="fa fa-fw fa-plus"></span>
          Session details
      </button></a>
    &nbsp; &nbsp; &nbsp;
  </div>
</div>

<style>
  .session-details-table td, th { text-align:center; vertical-align:middle; }
</style>

<!-- collapsible div, part 2: the table of all events during the session -->
<div class="collapse" id="collapseExample">

<!-- Show end session events log -->
<div class="row pad20">
  <div class="col-xs-12 col-sm-10 col-sm-offset-1">
    <% if @events.empty? %>
      <h4>There were no events during the session.</h4>
    <% else %>
      <h3>Session events</h3>
      <table class="table table-striped table-responsive session-details-table">
        <thead>
          <tr>
            <th>Num</th>
            <th>Time</th>
            <th>Square</th>
            <th>Type</th>
            <th>End time</th>
            <th>Notes</th>
          </tr>
        </thead>
        <tbody>
          <!-- one row per event in this table -->
          <% @events.each_with_index do |each_event, index| %>
          <tr>
            <td>
              <p><%= index+1 %></p>
            </td>
            <td>
              <p><%= ux_event_start_time( each_event) %></p>
            </td>
            <td>
              <p><%= ux_event_behavior_square( each_event) %></p>
            </td>
            <td>
              <p><%= ux_event_behavior_square_type( each_event) %></p>
            </td>
            <td>
              <p><%= ux_event_end_time( each_event) %></p>
            </td>
            <td>
              <p><%= ux_event_notes(each_event) %></p>
            </td>
          </tr>
          <% end %>
  
        </tbody>
      </table>
    <% end %>
  </div>   <!-- col -->
</div>   <!-- row -->

<!-- Show notes take during the session, too -->
<div class="row pad20">
  <div class="col-xs-12 col-sm-10 col-sm-offset-1">
    <% if @notes.empty? %>
      <h4>There were no notes during the session.</h4>
    <% else %>
      <h3>Session notes</h3>
      <table class="table table-striped table-responsive session-details-table">
        <thead>
          <tr>
            <th>Num</th>
            <th>Time</th>
            <th>Notes</th>
          </tr>
        </thead>
        <tbody>
          <!-- one row per event in this table -->
          <% @notes.each_with_index do |each_note, index2| %>
          <tr>
            <td>
              <p><%= index2+1 %></p>
            </td>
            <td>
              <p><%= ux_session_note_time( each_note) %></p>
            </td>
            <td>
              <p><%= each_note.note %></p>
            </td>
          </tr>
          <% end %>
  
        </tbody>
      </table>
    <% end %>
  </div>   <!-- col -->
</div>   <!-- row -->
</div>   <!-- collapsible -->


<!-- BACK TO ADMIN button -->
<div class="row form-row2 pad40">
	<div class="col-xs-10">
		<p>
			<%= link_to home_path, class: 'btn btn-lg btn-default navpanel-darkgray-button' do %>
		  	<span class="fa fa-fw fa-chevron-left"></span> Back to Home
		  <% end %>
		</p>
	</div>
</div>   <!-- row -->
