<!-- @author: Matthew O & Alex P & Debra J-->
<% provide(:title, "Behavioral Session") %>

<!-- special navbar and page beginning for Behavior session -->
<%= render 'layouts/navbar_session' %>

<div class="container">
	<div class="col-xs-10 col-xs-offset-1 col-sm-12 col-sm-offset-0 content-col">
		<%= render 'layouts/flash' %>

<!-- Control the selection and unselection of the student roster -->
<script>
	$(document).ready(function() {
	  // highlight active behavior square
    $(".d-sq").click(function(){
        // if(!$(this).hasClass("sq-active")) {
        //     $(this).addClass("sq-active");
        // } else {
        //     $(this).removeClass("sq-active");
        // }
        $(this).toggleClass("sq-active")
        $(this).toggleClass( "blinky-div")
    });
	});
</script>

<!-- Note Functionality -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.2.0/jquery-confirm.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.2.0/jquery-confirm.min.js"></script>


<div class="row form-row2 pad20">
  <div class="col-xs-12 text-right">
    <%= form_tag end_session_path, :method => :POST do %>
          <%= hidden_field_tag :start2 %>
          <%= hidden_field_tag :end2 %>

    <button type="button" class="btn btn-lg btn-info" onclick="undo();">
      <span class="fa fa-fw fa-undo" ></span> Undo
    </button>
    &nbsp; &nbsp; &nbsp;

    <button type="button" class="btn btn-lg btn-primary noteBtn">
      <span class="fa fa-fw fa-pencil-square-o"></span> Notes
    </button>
    &nbsp; &nbsp; &nbsp;

    <button type="submit" class="btn btn-lg btn-danger" name="end_sess2"
          onclick="return getEndTime()">
      <span class="fa fa-fw fa-stop-circle-o"></span> End Session
    </button>

    <% end %>

  </div>   <!-- col -->
</div>   <!-- row -->


<!-- Side bar -->
<!-- need to hack timer.js to remove this div, currently it's just hidden -->
<div id="mySidenav" style="display:none">
  <p id="start_time"></p>
  <%= form_tag end_session_path, :method => :POST do %>
    <%= hidden_field_tag :start %>
    <%= hidden_field_tag :end %>
    <%= submit_tag "End Session", :name => 'end_sess1',  :onclick => "return getEndTime()" %>
  <% end %>
</div>   <!-- sidebar -->

<style>

/* Make duration square blink while active (ha!) */
/* Source: www.multipetros.gr/posts/728-blink-elements-border-the-css-way */
@keyframes blink { 50% { border-color: black; }  }
.blinky-div { animation: blink 1.0s step-end infinite alternate; }

.bsession-cell { border: 1px solid whitesmoke; }
.bsession-cell:hover { border: 1px solid lightgray; }

.bsession-text { font-size: 1.4em; }

.bsession-icon {
	height: 8em;
	width: 8em;
	text-align: center;
	vertical-align: middle;
	border: 2px solid white;
	color: white;
	margin: 16px 16px 16px 0px;
	float: left;
	h2, h3 { font-family: "Courier New", serif; }
}

@media only screen and (max-width : 992px) {
	.bsession-icon { height: 6em; width: 6em; }
	.bsession-icon h3 { font-size: 1.4em; }
}
@media only screen and (max-width : 480px) {
	.bsession-icon { height: 4em; width: 4em; font-size: 0.6em;}
}

</style>

<!-- Main Content  - the behavior squares for this session -->
<div class="container-fluid pad20">
  <div class="row">

  <% @squares.each_with_index do |square, index| %>

    <!-- DURATION behavior square -->
    <% if square.tracking_type == 2 %>
      <div class="col-xs-12 col-md-6 bsession-cell duration" name="<%= square.id %>">

        <div id="button-start" class="d-sq button-start bsession-icon <%= glow_color(square) %> ">
          <h3><%= square.screen_name %> </h3>
          <span class="fa fa-fw fa-lg <%= ux_square_fa_icon(square) %>"></span>
        </div>

        <div class="bsession-text">
          <h3>Duration = <span id = "timer"><span id="minutes">00</span>:<span id="seconds">00</span></span>
          <br><small><i><%= truncate( square.description, :length => 60) %> </i></small></h3>
        </div>
      </div>   <!-- bsession-cell -->
    <% end %>

    <!-- FREQUENCY behavior square -->
    <% if square.tracking_type == 1 %>
      <div class="col-xs-12 col-md-6 bsession-cell frequency" name="<%= square.id %>">

        <div class="counter bsession-icon <%= glow_color(square) %> ">
          <h3><%= square.screen_name %> </h3>
          <span class="fa fa-fw fa-lg <%= ux_square_fa_icon(square) %>"></span>
        </div>   <!-- square -->

        <div class="bsession-text">
          <h3>Count = <label class="count">0</label>
          <br><small><i><%= truncate( square.description, :length => 60) %> </i></small></h3>
        </div>
      </div>   <!-- bsession-cell -->
    <% end %>

  <% end %>   <!-- for each behavior square -->

  </div>   <!-- row -->
</div>   <!-- container-fluid -->


<!-- Accordion section at the bottom -->
<!-- Source: https://www.tutorialrepublic.com/codelab.php?topic=bootstrap&file=accordion-with-plus-minus-icon -->
<script>
    $(document).ready(function(){
        // Add minus icon for collapse element which is open by default
        $(".collapse.in").each(function(){
        	$(this).siblings(".panel-heading").find(".glyphicon").addClass("glyphicon-minus").removeClass("glyphicon-plus");
        });

        // Toggle plus minus icon on show hide of collapse element
        $(".collapse").on('show.bs.collapse', function(){
        	$(this).parent().find(".glyphicon").removeClass("glyphicon-plus").addClass("glyphicon-minus");
        }).on('hide.bs.collapse', function(){
        	$(this).parent().find(".glyphicon").removeClass("glyphicon-minus").addClass("glyphicon-plus");
        });
    });
</script>

<div class="row form-row2 pad20">
	<div class="col-xs-12">

<!-- This whole panel group is a collapsible accordion -->
<div class="panel-group" id="accordion">

  <!-- SESSION INSTRUCTIONS panel -->
  <div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
				  	  <span class="glyphicon glyphicon-plus"></span> &nbsp; Session instructions</a>
			</h4>
		</div>
		<div id="collapseOne" class="panel-collapse collapse in">
			<div class="panel-body">

        <div class="col-xs-10 form-group">
          <label>Session instructions... specifically for student <%= @student.full_name %></label>
          <textarea class="form-control form-input-tweak info-textarea" rows="6" 
                readonly="readonly"><%= @session.session_instructions %></textarea>
        </div>
			</div>
		</div>   <!-- collapseOne -->
	</div>   <!-- panel -->

  <!-- SESSION DETAILS panel -->
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
					<span class="glyphicon glyphicon-plus"></span> &nbsp; Session details</a>
			</h4>
		</div>
		<div id="collapseTwo" class="panel-collapse collapse ">
			<div class="panel-body">

        <div class="col-xs-10 col-md-6 form-group">
          <label for="studentField">Student</label>
          <input type="text" class="form-control form-input-tweak" id="studentField" 
                readonly="readonly" value="<%= @student.full_name %>">
        </div>

        <div class="col-xs-10 col-md-6 form-group">
          <label for="teacherField">Teacher</label>
          <input type="text" class="form-control form-input-tweak" id="teacherField" 
                readonly="readonly" value="<%= @teacher.full_name %>">
        </div>
  
        <div class="clearfix"></div>

        <div class="col-xs-10 col-md-6 form-group">
          <label for="teacherField">Session interval (minutes)</label>
          <input type="text" class="form-control form-input-tweak" id="intervalField" 
                readonly="readonly" value="<%= @session.session_interval %>">
        </div>

				<div class="col-xs-10 col-md-6 form-group">
					<label>Behavior squares</label>
					<input type="text" class="form-control form-input-tweak"
								readonly="readonly" value="<%= ux_interval_counting_description(@student) %>" >
				</div>

			</div>
		</div>   <!-- collapseTwo -->
  </div>   <!-- panel -->

</div>   <!-- panel-group --> 

  </div>
</div>   <!-- row -->

<!-- not displayed, only used in timer js -->
<textarea class="eventLog" id = "eventLog" style="display:none;" disabled></textarea>

<div style="padding-bottom: 200px"></div>

  </div>
</div>
