<!-- authors: Ricky P & Michael L -->
<!-- new/edit students form partial -->

<%= form_for(student) do |f| %>
  <%= render 'error_messages', object: f.object %>

<!-- hidden field for school id, school id of the current teacher -->
<% if local_assigns[:isNew] %>
  <%= f.hidden_field :school_id, :value => current_teacher.school_id%>
<% end %>

<!-- student name -->
<div class="row form-row2 pad20">
	<div class="col-xs-10 col-md-6 form-group">
		<label for="nameField">Name</label>
		<% if local_assigns[:isNew] %>
		  <%= f.text_field :full_name, required: true, class: 'form-control form-input-tweak' %>
		<% else %>
      <%= f.text_field :full_name, :readonly => true, class: 'form-control form-input-tweak' %>
		<% end %>
	</div>
</div>   <!-- row -->

<div class="form-spacer"></div>

<!-- student icon includes color, icon choice, and interactive sample -->
<div class="row form-row2">

	<!-- color and icon spinners in the 1st column -->
	<div class="col-xs-6 form-group">
		<div class="row">
			<div class="col-xs-12">
				<label for="colorField">Color</label>
				<%= f.select :color, studentColors.map {|color| [color.titleize, color]}, 
							{}, {class: 'form-control form-input-tweak'} %>
			</div>

			<div class="col-xs-12 pad20">
				<label>Icon</label>
				<%= f.select :icon, studentIcons.map {|icon| [icon.titleize, icon]}, 
							{}, {class: 'form-control form-input-tweak'} %>
			</div>
		</div>   <!-- row -->
	</div>   <!-- first col -->

	<!-- the interactive icon -->
	<div class="col-xs-5 col-xs-offset-1 pad40">
		<div id="sample-student-color" class="student-icon <%= icon_color(student) %>" 
					title="student=<%= student.full_name %>" >
			<span id="sample-student-icon" class="fa fa-3x fa-fw <%= fa_icon(student) %> "></span>
		</div>
  </div>   <!-- second col -->

</div>   <!-- row -->

<div class="form-spacer"> &nbsp; </div>

<!-- session interval and student info -->
<div class="row form-row2">
	<div class="col-xs-10 col-md-6 form-group">
		<label>Session Interval <small> (minutes) </small></label>
		<%= f.select :session_interval, [5,15,30,60], {}, {class: 'form-control form-input-tweak'}  %> 
	</div>

	<div class="clearfix"></div>

	<div class="col-xs-10 col-md-6 form-group pad20">
		<label>Session squares</label>
		<span class="fa fa-fw fa-lg fa-question-circle color-scheme-blue"
					data-toggle="popover" data-trigger="click" data-placement="bottom"
					data-content="By default, GeoGem records each time a behavior square is pressed.<br>However, if interval counting is set true, behavior squares are only counted once per interval during a session."></span>
		<span class="checkbox" style="padding-left: 40px;">
			<%= f.label :interval_counting do %>
				<%= f.check_box :interval_counting, { :class=> 'form-check' }, "true", "false" %>
				&nbsp; Interval counting
			<% end %>
		</span>
	</div>

	<div class="clearfix"></div>

	<div class="col-xs-10 form-group pad20">
		<label>Student info <small> (optional) </small></label>
		<%= f.text_area :contact_info, class: "form-control form-input-tweak info-textarea" %>
	</div>
</div>   <!-- row -->

<!-- OK/cancel buttons -->
<div class="row form-row pad20">
	<div class="col-xs-6 col-xs-offset-1 text-center">
		<% if local_assigns[:isNew] %>
		    <%= button_tag(type: 'submit', class: "btn btn-success") do %>Add New Student<% end %>
		  <% else %>
        <%= button_tag(type: 'submit', class: "btn btn-success") do %>Save Changes<% end %>
		  <% end %>
		  &emsp; &emsp; &emsp;
		  <%= link_to "Cancel", students_path, :class => "btn btn-danger", 
		        :title => "Back to All Students page" %>
	</div>
</div>   <!-- row -->

<% end %>

<!-- 
	Javascript below is specifically for this Teacher Profile page.
	It makes the sample teacher icon change interactively with color or icon spinner.
	CSS ID's make this (spaghetti code) work: 
		#teacher_color - the Rails-created ID for the color spinner
		#teacher_icon - the Rails-created ID for the icon spinner
		#sample-teacher-color - div where sample icon color is set
		#sample-teacher-icon - div where sample FA icon is set
-->
<script>
	$(document).ready(function() {
		$('#student_color').change(function(){
			setColor();
		});
		$('#student_icon').change(function(){
			setIcon();
		});
	});

	function setColor() {
		var color =  $('#student_color').find('option:selected').attr('value');
		$('#sample-student-color').removeClass();
		$('#sample-student-color').addClass('student-icon');
		$('#sample-student-color').addClass('i-' + color);
	}
	function setIcon() {
		var icon =  $('#student_icon').find('option:selected').attr('value');
		$('#sample-student-icon').removeClass();
		$('#sample-student-icon').addClass('fa fa-3x fa-fw');
		$('#sample-student-icon').addClass('fa-' + icon);
	}
</script>
