<!-- use recommeneded squares in student's roster -->	
<% roster_squares.each_with_index do | each_roster_square, index |%>

	<% if ux_first_row(index) %>
		<div class="row col-xs-offset-1">
	<% end %>

	<% if ux_next_row(index, 4) %>
		</div>   <!-- ux_next_row end div -->
		<div class="row col-xs-offset-1 pad20">
	<% end %>

	<% real_square = get_real_square( each_roster_square) %>
 	<div class="col-xs-2">

		<!-- behavior square, click on it for popover of type/description -->
		<div class="bsquare-icon <%= glow_color(real_square) %> text-center"
					title="<strong><%= real_square.screen_name %><strong> behavior square, type=<%= ux_square_tracking_type( real_square) %>"
					data-toggle="popover" data-trigger="click" data-container="body"
					data-placement="bottom" data-content="<%= real_square.description %>" >
			<h3><%= real_square.screen_name %></h3>
			<span class="fa fa-fw fa-lg <%= ux_square_fa_icon(real_square) %>"></span>
		</div>   <!-- behavior-square -->

	</div>

	<% if ux_last_row( index, roster_squares.count) %>
		</div>   <!-- ux_last_row end div -->
	<% end %>

<% end %>   <!-- for each student roster square-->
