<!-- export session data to CSV file -->
<% provide(:title, "Topaz Form") %>

<!--page header -->
<%= render partial: 'student_page_header', 
			:locals => { 	:title => "Topaz Form", 
										:subtitle => "a printable behavior session form for #{ @student.full_name }"} %>


<div class="row form-row2 pad20 hide-on-print">

	<!-- print this and Back to buttons -->
	<div class="col-xs-12">
		<button class="btn btn-lg btn-primary" onclick="window.print();">Print this</button>
		&nbsp; &nbsp; &nbsp;
		<%= link_to analysis_path(@student.id), class: 'btn btn-lg btn-default navpanel-darkgray-button' do %>
					<span class="fa fa-fw fa-chevron-left"></span> Back to Analysis page
		<% end %>
	</div>

	<div class="clearfix"></div>

	<!-- accordion panel for Topaz options -->
	<div class="col-xs-12 pad40">
		<div class="panel-group" id="accordion">

		  <!-- TOPAZ OPTIONS panel -->
		  <div class="panel panel-default">
				<div class="panel-heading">
					<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" 
								style="text-decoration: none;">
					<h4 class="panel-title">
						<span class="glyphicon glyphicon-plus"></span> &nbsp; Topaz options
					</h4>
					</a>
				</div>
				<div id="collapseOne" class="panel-collapse collapse">
					<div class="panel-body">

						<!-- Skinny checkbox -->
		        <div class="col-xs-6 form-group" style="padding-left: 40px;">
		        	<label class="checkbox">
		        		<h4>
			        		<input type="checkbox" id="skinnyCheckbox" class="pull-left" 
			        					checkDiv="skinny-report-div"
			        					uncheckDiv="regular-report-div" 
			        					onclick="toggleDivsWithCheckbox(this)">
		        			&nbsp; Skinny form <small><br>&nbsp; scrunch your form for smaller printing</small>
		        		</h4>
		        	</label>
		        </div>

		        <!-- Page break checkbox -->
		        <div class="col-xs-6 form-group" style="padding-left: 40px;">
		        	<label class="checkbox">
		        		<h4>
		        			<input type="checkbox" id="pagebreakCheckbox" 
		        					theDiv="report-page-break" onclick="toggleDivDisplay(this)">
		        			&nbsp; Page break <small><br>&nbsp; force a page break after the main table</small>
		        		</h4>
		        	</label>
		        </div>
					</div>
				</div>   <!-- collapseOne -->
			</div>   <!-- panel -->
		</div>   <!-- panel-group -->
	</div>

</div>   <!-- row -->

<div class="form-spacer hide-on-print"></div>


<!---------------------->
<!-- BEGIN TOPAZ FORM -->
<!---------------------->

<!-- Form title and some intro text -->
<div class="row form-row2 regular-report-div pad20">
	<div class="col-xs-6">
		<!-- Report title on left, session date holder pulled right-->
		<h2>Topaz Form</h2>
	</div>
	<div class="col-xs-6 pad20">
		<span class="pull-right">Date: ______________________</span>
	</div>
</div>   <!-- row -->

<div class="row form-row2 regular-report-div">
	<div class="col-xs-12">
		<!-- Most important report params at the top on one line -->
		<p class="pad20">
			Student: <span class="report-student-param"> <%= @student.full_name %></span> &nbsp; ~ &nbsp;
			Teacher: <span class="report-param"><%= @teacher.full_name %></span> &nbsp; ~ &nbsp;
			Interval time: <span class="report-param"><%= @student.session_interval %> mins</span>
		</p>
		
		<!-- Quick summary of the form -->
		<p>
			Use this form and use it to manually record a behavior session. 
			Remember to note the actual start and end times of your session below. 
			And write additional notes on the back of the form.
		</p>
	</div>
</div>   <!-- row -->


<!-- The main part: the behavior squares table -->
<div class="row form-row2 regular-report-div">
	<div class="col-xs-12">

		<table class="table table-bordered table-striped table-responsive table-condensed">
			<thead>
				<tr>
					<th style="width:5%;"></th>
					<th style="width:15%;">Time</th>
					<% @squares.each do |each_square| %>
						<th style="width: 10%;"><%= each_square.screen_name %></th>
					<% end %>   <!-- foreach square -->
				</tr>
			</thead>
			<tbody>
				<% for interval in 1..@num_intervals %>
					<tr>
						<td ><%= interval %></td>
						<td ><%= ux_topaz_time_range( @student, interval) %></td>
						<% @squares.each do |each_square| %>
							<td></td>
						<% end %>   <!-- foreach square -->
					</tr>
				<% end %>   <!-- foreach interval -->
	
			</tbody>
		</table>
	</div>
</div>   <!-- row -->

<!-- start and end time underlines -->
<div class="row form-row2 pad40 regular-report-div" style="padding: 10px 0px;">
	<br>
	<div class="col-xs-6" >
		Start Time: ______________________
	</div>

	<div class="col-xs-6 text-right">
		End Time: ______________________
	</div>
</div>   <!-- row -->

<!-- forced page break; it's turned on/off with the checkbox above -->
<div class="report-page-break" style="display: none;"></div>

<!-- behavior squares key -->
<div class="row form-row2 pad20 regular-report-div">
	<div class="col-xs-12">

		<h4>Squares key</h4>
		<p>Behavior squares assigned to student <%= @student.full_name %>: </p>
		<ul>
			<% @squares.each do |each_square| %>
				<li>
					<strong><%= each_square.screen_name %></strong> = <%= each_square.description %>
				</li>
			<% end %>   <!-- foreach square -->
		</ul>

	</div>
</div>   <!-- row -->

<!-- student instructions -->
<div class="row form-row2 pad20 regular-report-div">
	<div class="col-xs-12">
		<h4>Student instructions</h4>
		<%= ux_session_instructions( @student) %>
	</div>
</div>   <!-- row -->

<!-- simple footer; it's on print only -->
<div class="row text-center display-on-print-only">
	<div class="col-xs-12 text-center report-footer">
		GeoGem &copy; 2018
	</div>
</div>

