<!-- export session data to CSV file -->
<% provide(:title, "Topaz Form") %>

<!--page header -->
<%= render partial: 'student_page_header', 
			:locals => { 	:title => "Topaz Form", 
										:subtitle => "a printable behavior session form for #{ @student.full_name }"} %>

<style>
.show-on-regular-only { font-size: 1.0em; }
.show-on-skinny-only { font-size: 1.0em; }
.topaz-div-regular { font-size: 16px; font-family: Arial; }
.topaz-div-skinny { font-size: 14px; font-family: Arial; }
.report-page-break { page-break-before: always; }

.topaz-student-param { font-size: 1.4em; font-weight: bold; }
.topaz-param { text-decoration: underline; }

#topaz-title { border: 0px solid lightgray; border-radius: 18px; 
			background-color: white; padding: 0px 4px 12px 4px; }

#topaz-table { 	margin: 0 auto; border: 2px solid black; width: 96%; }
#topaz-table td { 
	text-align:center; vertical-align:middle; 
	font-size: 14px; font-family: Verdana;
	border: 2px solid black;
}
#topaz-table th { 
	text-align:center; vertical-align:middle; 
	font-size: 14px; font-family: Verdana;
	border: 2px solid black;
}

#topaz-skinny-table { margin: 0 auto; border: 1px solid black; width: 96%; }
#topaz-skinny-table td { 
	text-align:center; vertical-align:middle; 
	font-size: 12px; font-family: Verdana;
	border: 1px solid black;
	padding: 4px;
}
#topaz-skinny-table th { 
	text-align:center; vertical-align:middle; 
	font-size: 12px; font-family: Verdana;
	border: 1px solid black;
	padding: 4px;
}
#topaz-footer { position: fixed; bottom: 0; color: gray; }

</style>

<div class="row form-row2 pad20 hide-on-print">

	<!-- print this and Back to buttons -->
	<div class="col-xs-12">
		<button class="btn btn-lg btn-primary" onclick="window.print();">Print this</button>
		&nbsp; &nbsp; &nbsp;
		<%= link_to analysis_path(@student.id), class: 'btn btn-lg btn-default navpanel-darkgray-button' do %>
					<span class="fa fa-fw fa-chevron-left"></span> Back to Analysis page
		<% end %>
	</div>

	<div class="clearfix"></div>

	<!-- accordion panel for Topaz options -->
	<div class="col-xs-12 pad40">
		<div class="panel-group" id="accordion">

		  <!-- TOPAZ OPTIONS panel -->
		  <div class="panel panel-default">
				<div class="panel-heading">
					<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" 
								style="text-decoration: none;">
					<h4 class="panel-title">
						<span class="glyphicon glyphicon-plus"></span> &nbsp; Topaz options
					</h4>
					</a>
				</div>
				<div id="collapseOne" class="panel-collapse collapse">
					<div class="panel-body">

						<!-- options text -->
						<div class="col-xs-12 form-group">
							<h4>
								Print this Topaz Form to manually record a behavior session 
								with student <%= @student.full_name %>.
								Tweak your printout with these options.
							</h4>
						</div>

						<!-- Skinny checkbox -->
		        <div class="col-xs-6 form-group" style="padding-left: 40px;">
		        	<label class="checkbox">
		        		<h4>
			        		<input type="checkbox" id="skinnyCheckbox" class="pull-left" onclick="doSkinny()">
		        			&nbsp; Skinny form <small><br>&nbsp; scrunch your form for smaller printing</small>
		        		</h4>
		        	</label>
		        </div>

		        <!-- Page break checkbox -->
		        <div class="col-xs-6 form-group" style="padding-left: 40px;">
		        	<label class="checkbox">
		        		<h4>
			        		<input type="checkbox" id="pagebreakCheckbox" onclick="doPagebreak()">
		        			&nbsp; Page break <small><br>&nbsp; force a page break after the main table</small>
		        		</h4>
		        	</label>
		        </div>
					</div>
				</div>   <!-- collapseOne -->
			</div>   <!-- panel -->
		</div>   <!-- panel-group -->
	</div>

</div>   <!-- row -->

<!-- topaz line, printable form is below this line -->
<div class="form-spacer hide-on-print"></div>

<!---------------------->
<!-- BEGIN TOPAZ FORM -->
<!---------------------->

<!-- Form title and some intro text -->
<div id="topaz-title" class="row form-row2 topaz-div-regular">
		<div class="col-xs-6">
			<h3>Topaz Form</h3>
		</div>
		<div class="col-xs-6 text-right pad20">
			Date: ______________________
		</div>
	
		<div class="clearfix"></div>
		<div class="col-xs-12 pad10">
			Student: <span class="topaz-student-param"> <%= @student.full_name %></span> &nbsp; ~ &nbsp;
			Teacher: <span class="topaz-param"><%= @teacher.full_name %></span> &nbsp; ~ &nbsp;
			Interval time: <span class="topaz-param"><%= @student.session_interval %> mins</span>
		</div>
	
		<div class="clearfix"></div>
		<div class="col-xs-12 pad20">
			Use this form and use it to manually record a behavior session. 
			Remember to note the actual start and end times of your session below. 
			And write additional notes on the back of the form.
	</div>   <!-- topaz-div-regular -->
</div>   <!-- row -->

<!-- The main part: the behavior squsares table -->
<div class="row form-row2 topaz-div-regular">
	<div class="col-xs-12 center-block text-center" style="text-align: center; margin: 0 auto;">

		<!-- regular-only div table -->
		<div class="show-on-regular-only">
			<table id="topaz-table" class="table table-bordered" >
				<thead>
					<tr>
						<th style="width:5%;"></th>
						<th style="width:15%;">Time</th>
						<% @squares.each do |each_square| %>
							<th style="width: 10%;"><%= each_square.screen_name %></th>
						<% end %>
					</tr>
				</thead>
				<tbody>
					<% for interval in 1..@num_intervals %>
					<tr>
						<td ><%= interval %></td>
						<td ><%= ux_topaz_time_range( @student, interval) %></td>
						<% @squares.each do |each_square| %>
							<td></td>
						<% end %>
					</tr>
					<% end %>
	
				</tbody>
			</table>
		</div>   <!-- regular-only div -->

		<!-- skinny-only div table -->
		<div class="show-on-skinny-only" style="display: none;">
			<table id="topaz-skinny-table" class="table table-bordered" >
				<thead>
					<tr>
						<th style="width:5%;"></th>
						<th style="width:15%;">Time</th>
						<% @squares.each do |each_square| %>
							<th style="width: 10%;"><%= each_square.screen_name %></th>
						<% end %>
					</tr>
				</thead>
				<tbody>
					<% for interval in 1..@num_intervals %>
					<tr>
						<td ><%= interval %></td>
						<td ><%= ux_topaz_time_range( @student, interval) %></td>
						<% @squares.each do |each_square| %>
							<td></td>
						<% end %>
					</tr>
					<% end %>

				</tbody>
			</table>
		</div>   <!-- skinny-only div -->
	</div>
</div>   <!-- row -->

<!-- start and end time underlines -->
<div class="row form-row2 pad40 topaz-div-regular" style="padding: 10px 0px;">
	<br>
	<div class="col-xs-6" >
		Start Time: ______________________
	</div>

	<div class="col-xs-6 text-right">
		End Time: ______________________
	</div>
</div>

<!-- forced page break; it's turned on/off with the checkbox above -->
<div class="report-page-break" style="display: none;"></div>

<!-- behavior squares key; swap between regular and skinny divs -->
<div class="row form-row2 pad20 topaz-div-regular">
	<div class="col-xs-12">

		<div class="show-on-regular-only">		<!-- regular-only div -->
			<h3>Squares key</h3>
			<p>Behavior squares assigned to student <%= @student.full_name %>: </p>
			<ul>
				<% @squares.each do |each_square| %>
					<li>
						<strong><%= each_square.screen_name %></strong> = <%= each_square.description %>
					</li>
				<% end %>
			</ul>
		</div>   <!-- regular-only div -->

		<div class="show-on-skinny-only" style="display: none;">		<!-- skinny-only div -->
			<strong>Squares key &mdash; </strong>
			<% @squares.each do |each_square| %>
				<strong><%= each_square.screen_name %></strong> = <%= each_square.description %> &nbsp;
			<% end %>
		</div>   <!-- skinny-only div --> 

	</div>
</div>

<!-- student instructions; swap between regular and skinny divs -->
<div class="row form-row2 pad20 topaz-div-regular">
	<div class="col-xs-12">

		<div class="show-on-regular-only regular-font">		<!-- regular-only div -->
			<h3>Student instructions</h3>
			<%= ux_session_instructions( @student) %>
		</div>   <!-- regular-only div -->

		<div class="show-on-skinny-only skinny-font" style="display: none;">		<!-- skinny-only div -->
			<strong>Student instructions &mdash; </strong>
			<%= ux_session_instructions( @student) %>
		</div>   <!-- skinny-only div -->
	</div>
</div>

<!-- simple footer; it's on print only -->
<div class="row text-center display-on-print-only">
	<div id="topaz-footer" class="col-xs-12 text-center">
		GeoGem &copy; 2018
	</div>
</div>


<script>
	// accordion jquery functions, most of this is from the bootstrap website
	$(document).ready(function(){
		// "in" class makes opens the accordion to start 
		$(".collapse.in").each(function(){
			$(this).siblings(".panel-heading").find(".glyphicon").addClass("glyphicon-minus").removeClass("glyphicon-plus");
		});

		// Toggle plus minus icon on show hide of collapse element
		// I added to this for my view/hide section buttons (smile)
		$(".collapse").on('show.bs.collapse', function(){
			$(this).parent().find(".glyphicon").removeClass("glyphicon-plus").addClass("glyphicon-minus");
			$(this).parent().find(".btn-default").text("- Hide");
			$(this).parent().find(".section-title").removeClass("hide-on-print");
		}).on('hide.bs.collapse', function(){
			$(this).parent().find(".glyphicon").removeClass("glyphicon-minus").addClass("glyphicon-plus");
			$(this).parent().find(".btn-default").text("+ Show");
			$(this).parent().find(".section-title").addClass("hide-on-print");
		});
	});

</script>

<script type="text/javascript">

	// this function handles the Skinny checkbox above
	function doSkinny() {
		var checkBox = document.getElementById("skinnyCheckbox");

		regularDivs = document.querySelectorAll(".show-on-regular-only");
		skinnyDivs = document.querySelectorAll(".show-on-skinny-only");

		if( checkBox.checked == true) {
			// 1) make regular-only divs display=none; make skinny divs display=block
			for( var i = 0; i < regularDivs.length; i++) {
				regularDivs[i].style.display = "none";
			}
			for( var i = 0; i < skinnyDivs.length; i++) {
				skinnyDivs[i].style.display = "block";
			}

			// 2) swap regular topaz divs for the skinny version
			var divs = document.querySelectorAll(".topaz-div-regular");
			console.log( "skinny: divs length=" + divs.length);
			for( var i = 0; i < divs.length; i++) {
				console.log( "skinny: i=" + i + ", divs=" + divs[i]);
				console.log( "skinny, cont: classlist=" + divs[i].classlist);
				divs[i].classList.add( "topaz-div-skinny");
				divs[i].classList.remove( "topaz-div-regular");
			}
		}
		else {
			// 1) make skinny-only divs display=none; make regular divs display=block
			for( var i = 0; i < regularDivs.length; i++) {
				regularDivs[i].style.display = "block";
			}
			for( var i = 0; i < skinnyDivs.length; i++) {
				skinnyDivs[i].style.display = "none";
			}

			// 2) swap skinny topaz divs for the regular version
			var divs = document.querySelectorAll(".topaz-div-skinny");
			console.log( "NOT skinny: divs length=" + divs.length);
			for( var i = 0; i < divs.length; i++) {
				divs[i].classList.add( "topaz-div-regular");
				divs[i].classList.remove( "topaz-div-skinny");
			}
		}
	}   // doSkinny()


	// this function handles the Page Break checkbox above
	function doPagebreak() {
		var checkBox = document.getElementById("pagebreakCheckbox");
		var divs = document.querySelectorAll(".report-page-break");
		for( i = 0; i < divs.length; i++) {
			if( checkBox.checked == true) {
				divs[i].style.display = "block"; 
			}
			else { 
				divs[i].style.display = "none"; 
			}
		}
	}  // doPagebreak()

</script>

