<% provide(:title, "Ruby Report") %>

<!--page header -->
<%= render partial: 'student_page_header', 
			:locals => { 	:title => "Ruby Report", 
										:subtitle => "show session stats for one behavior square for #{ @student.full_name }"} %>

<style>
.ruby-content { font-size: 14px; font-family: Arial; }
.ruby-student-param { font-size: 1.4em; font-weight: bold; }
.ruby-param { text-decoration: underline; }

#ruby-divider-line { width: 80%; margin: 60px auto; 
			border-width: 4px; border-color: #E0115F; }
#ruby-title { border: 0px solid lightgray; border-radius: 18px; 
			background-color: white; padding: 0px 4px 12px 4px; }
</style>

<%= form_tag 'analysis_ruby', :method => 'get' do %>

<% if @sessions.empty? %>

<!-- If no sessions, then issue info message and not a form -->
<div class="row form-row2 pad40">
	<div class="col-xs-10 form-group">
		<h4>Student <%= @student.full_name %> currently has no sessions to report.</h4>
		<br>
	</div>
	<div class="form-spacer"></div>
</div>

<% else %>

<!-- sessions spinner -->
<div class="row form-row2 pad20">
	<div class="col-xs-10 col-md-6 form-group hide-on-print">
		<label>Session</label>
		<%= select_tag 'session_id', 
					options_for_select( @sessions.order('created_at DESC').map{|c| [c.created_at.strftime("%a %b %-d, %Y"), c.id]}), 
					{  :include_blank => 'Select a session to export', :class => 'form-control form-input-tweak' } %>
	</div>
</div>   <!-- row -->

<% end %>

<!-- export submit button-->
<div class="row form-row2 pad20 hide-on-print">
	<div class="col-xs-10">
		<%= button_tag( type: 'submit', :disabled => (@sessions.empty?), 
					id: 'exportButton', name: "do_ruby",
					class: "btn btn-lg btn-success") do %>Run report<% end %>
		&nbsp; &nbsp; &nbsp;
		<%= link_to "Cancel", analysis_url, 
					:class => "btn btn-lg btn-danger", :title => "Back to Analysis page" %>
	</div>
</div>   <!-- row -->

<% end %> 

<% if @ruby_session %>


<div class="hide-on-print">
	<hr id="ruby-divider-line">
</div>

<div class="row form-row2 hide-on-print">
	<div class="col-xs-6">
		<button class="btn btn-lg btn-primary" onclick="window.print();">Print report</button>
	</div>
</div>

<div class="form-spacer hide-on-print"></div>


<!-- BEGIN RUBY REPORT -->

<div class="row form-row2 ruby-content pad40" id="ruby-title">
	<div class="col-xs-6">
		<h3>Ruby Report</h3>
	</div>
	<div class="col-xs-6 text-right pad20">
		Session Date: <%= @ruby_session.end_time %>
	</div>

	<div class="clearfix"></div>
	<div class="col-xs-12 pad10">
		Student: <span class="ruby-student-param"> <%= @student.full_name %></span> &nbsp; ~ &nbsp;
		Teacher: <span class="ruby-param"><%= @teacher.full_name %></span> &nbsp; ~ &nbsp;
		Interval time: <span class="ruby-param"><%= @student.session_interval %> mins</span>
	</div>
	<div class="clearfix"></div>
	<div class="col-xs-12 pad20">
		This report summarizes the details of one behavior session.
	</div>
</div>   <!-- row -->


<% end %>


