<!-- export session data to CSV file -->
<% provide(:title, "Emerald Export") %>

<!--page header -->
<%= render partial: 'student_page_header', 
			:locals => { 	:title => "Emerald Export", 
										:subtitle => "export session data in CSV format for #{ @student.full_name }"} %>

<%= form_tag 'analysis_emerald', :method => 'get' do %>

<% if @sessions.empty? %>

<!-- If no sessions, then issue info message and not a form -->
<div class="row form-row2 pad40">
	<div class="col-xs-10 form-group">
		<h4>Student <%= @student.full_name %> currently has no sessions to export.</h4>
		<br>
	</div>
	<div class="form-spacer"></div>
</div>

<% else %>

<!-- sessions spinner -->
<div class="row form-row2 pad20">
	<div class="col-xs-10 col-md-6 form-group">
		<label>Session</label>
		<%= select_tag 'session_id', 
					options_for_select( @sessions.order('created_at DESC').map{|c| [c.created_at.strftime("%a %b %-d, %Y"), c.id]}), 
					{ required: true, :include_blank => 'Select a session to export', :class => 'form-control form-input-tweak' } %>
	</div>
</div>   <!-- row -->

<!-- include notes checkbox -->
<div class="row form-row2">
	<div class="col-xs-10 col-md-6 form-group">
		<span class="checkbox" style="padding-left: 40px;">
			<%= label_tag :include_notes do %>
				<%= check_box_tag :include_notes, 1, true %>&nbsp; Include notes
			<% end %>
		</span>
	</div>
</div>   <!-- row -->

<% end %>

<!-- export submit and cancel buttons -->
<div class="row form-row2 pad20">
	<div class="col-xs-10">
		<%= button_tag( type: 'submit', :disabled => (@sessions.empty?), 
					id: 'exportButton', name: "do_emerald", 
					class: "btn btn-lg btn-success") do %>Export session<% end %>
		&nbsp; &nbsp; &nbsp;
		<%= link_to "Cancel", analysis_url, 
					:class => "btn btn-lg btn-danger", :title => "Back to Analysis page" %>
	</div>
</div>   <!-- row -->

<% end %>


<script>
var flashdiv = document.getElementById('flash');
var exportButton = document.getElementById('exportButton');
var select = document.getElementById('session_id');

exportButton.addEventListener("click", flash);

function flash() {
	if( select.value != "") {
		flashdiv.className = "alert alert-success";
		flashdiv.innerHTML =  "Emerald Export - session data saved.";
	}
}

</script>
