<% provide(:title, "Analysis") %>

<!--page header -->
<%= render partial: 'student_page_header', 
			:locals => { 	:title => "Analysis", 
										:subtitle => "reports, graphs and export of session data for #{ @student.full_name }"} %>

<div class="row pad20">

  <!-- Emerald Export -->
  <div class="col-xs-10 col-xs-offset-1 analysis-row">
		<h2>
		  <%= link_to analysis_emerald_student_path(@student.id) do %>
		    <i class="fa fa-fw fa-diamond color-emerald border-emerald" title="Goto Emerald Export"></i><% end %>
			<span class="color-emerald">Emerald Export</span> <br>
			<small class="analysis-row-padding">
				Save session data to a file in CSV format <br>
				<%= link_to "Goto Emerald Export", 'analysis_emerald', :class => "analysis-row-padding" %>
				<br>
				&nbsp;
			</small>
		</h2>
	</div>

  <div class="clearfix"></div>
	<div class="col-xs-10 col-xs-offset-1"><hr></div>

  <!-- Ruby Report -->
  <div class="col-xs-10 col-xs-offset-1 analysis-row">
		<h2>
		  <%= link_to analysis_ruby_student_path(@student.id) do %>
		    <i class="fa fa-fw fa-diamond color-ruby border-ruby" title="Goto Ruby Report"></i><% end %>
			<span class="color-ruby">Ruby Report</span> <br>
			<small class="analysis-row-padding">
				Show session stats for one behavior square over time <br>
				<%= link_to "Goto Ruby Report", 'analysis_ruby', :class => "analysis-row-padding" %>
				<br>
				&nbsp;
			</small>
		</h2>
	</div>

</div>   <!-- row -->
