<% provide(:title, "Ruby Report") %>

<!--page header -->
<%= render partial: 'student_page_header', 
			:locals => { 	:title => "Ruby Report", 
										:subtitle => "show session stats for one behavior square for #{ @student.full_name }"} %>


<%= form_tag 'analysis_ruby', :method => 'get' do %>

	<% if @sessions.empty? %>

		<!-- If no sessions at all for this student, then just print a message -->	
		<div class="row form-row2 pad40">
			<div class="col-xs-10 form-group">
				<h4>Student <%= @student.full_name %> currently has no sessions to report.</h4>
				<br>
			</div>
			<div class="form-spacer"></div>
		</div>   <!-- row -->

	<% else %>

		<div class="row form-row2 pad20 hide-on-print">

			<!-- Select a session with this spinner -->
			<div class="col-xs-8 col-md-6 form-group ">
				<label>Session</label>
				<%= select_tag 'session_id', 
							options_for_select( @sessions.order('created_at DESC').map{|c| [c.created_at.strftime("%a %b %-d, %Y"), c.id]}), 
							{  :include_blank => 'Select a session', :class => 'form-control form-input-tweak' } %>
			</div>

			<!-- update report button; it's updated with a new session value -->
			<div class="col-xs-4  form-group">
				<%= button_tag( type: 'submit', :disabled => (@sessions.empty?), 
							id: 'exportButton', name: "do_ruby",
							class: "btn btn-lg btn-success", style: "margin-top: 20px;") do %>Update report<% end %>
			</div>
		</div>   <!-- row -->

		<div class="row form-row2 pad20 hide-on-print">
			<div class="col-xs-12 pad20">

				<!-- "Print this" button is disabled if no session selected -->
				<% if @ruby_session %>
					<button class="btn btn-lg btn-primary" onclick="window.print(); return false;">Print this</button>
				<% else %>
					<button class="btn btn-lg btn-primary" onclick="window.print(); return false;" disabled>Print this</button>
				<% end %>

				<!-- Back to Analysis button -->
				&nbsp; &nbsp; &nbsp;
				<%= link_to analysis_path(@student.id), class: 'btn btn-lg btn-default navpanel-darkgray-button' do %>
							<span class="fa fa-fw fa-chevron-left"></span> Back to Analysis page
				<% end %>
			</div>
		</div>   <!-- row -->

	<% end %>   <!-- if-else -->
<% end %>   <!-- form -->

<!-- The Report options accordion appear when a session is selected -->
<% if @ruby_session %>

	<div class="row form-row2 pad40 hide-on-print">
		<div class="col-xs-12">

			<!-- accordion panel for Ruby Report options -->
			<div class="panel-group" id="accordion">
			  <div class="panel panel-default">
					<div class="panel-heading">
						<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" 
									style="text-decoration: none;">
						<h4 class="panel-title">
							<span class="glyphicon glyphicon-plus"></span> &nbsp; Ruby options
						</h4>
						</a>
					</div>
					<div id="collapseOne" class="panel-collapse collapse">
						<div class="panel-body">

							<!-- Skinny checkbox -->
			        <div class="col-xs-6 form-group" style="padding-left: 40px;">
			        	<label class="checkbox">
			        		<h4>
				        		<input type="checkbox" id="skinnyCheckbox" class="pull-left" 
				        					checkDiv="skinny-report-div"
				        					uncheckDiv="regular-report-div" 
				        					onclick="toggleDivsWithCheckbox(this)">
			        			&nbsp; Skinny form <small><br>&nbsp; scrunch your report for smaller printing</small>
			        		</h4>
			        	</label>
			        </div>
	
			        <!-- Page break checkbox -->
			        <div class="col-xs-6 form-group" style="padding-left: 40px;">
			        	<label class="checkbox">
			        		<h4>
			        			<input type="checkbox" id="pagebreakCheckbox" 
			        					theDiv="report-page-break" onclick="toggleDivDisplay(this)">
			        			&nbsp; Page break <small><br>&nbsp; force a page break after the main table</small>
			        		</h4>
			        	</label>
			        </div>

						</div>
					</div>   <!-- collapseOne -->
				</div>   <!-- panel -->
			</div>   <!-- panel-group -->
		</div>
	</div>   <!-- row -->

	<div class="form-spacer pad40 hide-on-print"><br></div>


<!----------------------->
<!-- BEGIN RUBY REPORT -->
<!----------------------->

<!-- Section: Header, includes the title, session date, params and summart sentence -->
<div class="row form-row2 regular-report-div pad20">

	<!-- Big, old report title on left -->
	<div class="col-xs-6">
		<h2>Ruby Report</h2>
	</div>

	<!-- Session date pulled to the right -->
	<div class="col-xs-6 pad20">
		<span class="pull-right">
			Session date: <span style="text-decoration: underline;"> <%= ux_session_date(@ruby_session) %> </span>
		</span>
	</div>
</div>   <!-- row -->

<div class="row form-row2 regular-report-div">
	<div class="col-xs-12">
		<!-- Most important report params at the top on one line -->
		<p class="pad20">
			Student: <span class="report-student-param"> <%= @student.full_name %></span> &nbsp; ~ &nbsp;
			Teacher: <span class="report-param"><%= @teacher.full_name %></span> &nbsp; ~ &nbsp;
			Interval time: <span class="report-param"><%= @ruby_session.session_interval %> mins</span>
		</p>

		<!-- One sentence summary of the report -->
		<p>The Ruby Report summarizes the details of one behavior session.</p>
	</div>
</div>   <!-- row -->

<!-- Section: Session Summary table, stats for squares pressed at each interval -->
<div class="row form-row2 regular-report-div pad20">
	<div class="col-xs-12">
		<h4>I. Session summary table</h4>

		<table class="table table-bordered table-striped table-responsive table-condensed">
			<thead>
				<tr>
					<th style="width: 10%;">Interval</th>
					<th style="width: 20%;">Time range</th>
					<% @squares.each do |each_square| %>
						<th style="width: 10%;"><%= each_square.screen_name %></th>
					<% end %>
				</tr>
			</thead>
			<tbody>
				<% for interval in 0..@num_intervals-1 %>
					<tr>
						<td> <%= interval+1 %> </td>
						<td> <%= ux_ruby_time_range( @ruby_session, interval) %> </td>
						<% @squares.each_with_index do |square, index| %>
							<td> <%= ux_ruby_count_events_during_interval( @ruby_events, square, interval) %> </td>
						<% end %>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>   <!-- row -->

<!-- Force a page break; it's turned on/off with the checkbox above -->
<div class="report-page-break" style="display: none;"></div>

<!-- Section: Squares key -->
<div class="row form-row2 regular-report-div pad20">
	<div class="col-xs-12">
		<h4>II. Squares key</h4>
		<p>The behavior squares assigned to this student are:</p>

		<!-- For each square, print its description -->
		<ul>
			<% @squares.each do |each_square| %>
				<li><strong><%= each_square.screen_name %></strong> = <%= each_square.description %></li>
			<% end %>
		</ul>
	</div>
</div>   <!-- row, squares key -->

<!-- Section: Session setup -->
<div class="row form-row2 regular-report-div">
	<div class="col-xs-12">
		<h4>III. Session setup</h4>

		<!-- Student's session params -->
		<p>a) Session parameters:</p>
		<ul>
			<li>Session interval: <%= @student.session_interval %> mins</li>
			<li>Square counting: <%= ux_session_counting_style( @ruby_session) %></li>
		</ul>

		<!-- Student's session instructions -->
		<p>b) Session instructions specific to <%= @student.full_name %></p>
		<p style="font-style: italic; margin-left: 40px;">
			<%= @ruby_session.session_instructions %>
		</p>
	</div>
</div>   <!-- row, setup section -->

<!-- Section: Session results -->
<div class="row form-row2 regular-report-div">
	<div class="col-xs-12">
		<h4>IV. Session results</h4>

		<!-- Timing details for the session -->
		<p>a) Timing details:</p>
		<ul>
			<li>Session start/end times: 
						<%= ux_session_start_time( @ruby_session) %> - 
						<%= ux_session_end_time( @ruby_session) %></li>
			<li>Session duration: 
						<%= ux_session_duration( @ruby_session) %> </li>
			<li>Num intervals: <%= @ruby_session.num_intervals %> intervals</li>
		</ul>
	</div>
</div>   <!-- row -->

<!-- Continue Results section, Table of session events -->
<div class="row form-row2 regular-report-div">
	<div class="col-xs-12">
		<p>b) Session events table:</p>
    <% if @ruby_events.empty? %>
      <p style="padding-left: 40px;">There were <b>no events</b> during the session.</p>
    <% else %>
      <table class="table table-striped table-responsive table-condensed">
        <thead>
          <tr>
            <th>Num</th>
            <th>Time</th>
            <th>Interval</th>
            <th>Square</th>
            <th>Type</th>
            <th>End time</th>
            <th>Notes</th>
          </tr>
        </thead>
        <tbody>
          <!-- one row per event in this table -->
          <% @ruby_events.each_with_index do |each_event, index| %>
          <tr>
            <td>
              <%= index+1 %>
            </td>
            <td>
              <%= ux_event_start_time( each_event) %>
            </td>
            <td>
            	<%= ux_event_interval( each_event) %>
            </td>
            <td>
              <%= ux_event_behavior_square( each_event) %>
            </td>
            <td>
              <%= ux_event_behavior_square_type( each_event) %>
            </td>
            <td>
              <%= ux_event_end_time( each_event) %>
            </td>
            <td>
              <%= ux_event_notes(each_event) %>
            </td>
          </tr>
          <% end %>
  
        </tbody>
      </table>
    <% end %>
	</div>
</div>   <!-- squares setup section -->

<!-- Continue Results section, Table of session notes -->
<div class="row form-row2 pad20 regular-report-div">
	<div class="col-xs-12">
		<p>c) Session notes table:</p>
    <% if @ruby_notes.empty? %>
      <p style="padding-left: 40px;">There were <b>no notes</b> during the session.</p>
    <% else %>
      <table class="table table-striped table-responsive table-condensed">
        <thead>
          <tr>
            <th>Num</th>
            <th>Time</th>
            <th>Notes</th>
          </tr>
        </thead>
        <tbody>
          <!-- one row per event in this table -->
          <% @ruby_notes.each_with_index do |each_note, index2| %>
          <tr>
            <td>
              <%= index2+1 %>
            </td>
            <td>
              <%= ux_session_note_time( each_note) %>
            </td>
            <td>
              <%= each_note.note %>
            </td>
          </tr>
          <% end %>
  
        </tbody>
      </table>
    <% end %>
	</div>
</div>   <!-- row -->

<% end %>   <!-- if @ruby_sessions, in other words, report is not empty -->

<!-- simple footer; it's on print only -->
<div class="row text-center display-on-print-only">
	<div class="col-xs-12 text-center report-footer">
		GeoGem &copy; 2018
	</div>
</div>
