<!-- authors: Ricky Perez & Michael Loptien -->
<% provide(:title, "Assign squares") %>

<!-- page header -->
<%= render partial: 'student_page_header', 
			:locals => { 	:title => "Assign squares", 
										:subtitle => "assign recommended behavior squares to student, #{ @student.full_name }"} %>

<div class="row form-row2 pad20">

<!-- add square: label, spinner, and plus sign -->
<%= form_for(@student) do |f| %>
	<%= render 'error_messages', object: f.object %>

	<div class="col-xs-4 form-group">
		<label for="nameField">Add Square</label>
		<%= select_tag 'add_square_id', 
					options_from_collection_for_select(@squares_not_in_roster, "id", "screen_name"), 
					class: 'form-control form-input-tweak',
					:include_blank => 'Select square to add', :required => true %>
	</div>
	<div class="col-xs-2 form-group text-left pad20">
		<%= button_tag(type: 'submit', class: "btn btn-success", name: "edit2_add") do %>
				<span class="fa fa-plus icon-white"></span> 
			<% end %>
	</div>

<% end %>   <!-- add student form -->

<%= form_for(@student) do |f| %>

	<div class="col-xs-4 form-group">
		<label for="nameField">Remove Square</label>
		<%= select_tag 'remove_square_id', 
					options_from_collection_for_select(@squares, "id", "screen_name"), 
					class: 'form-control form-input-tweak', 
					:include_blank => 'Select square to remove', :required => true %>
	</div>
	<div class="col-xs-2 form-group text-left pad20">
		<%= button_tag(type: 'submit', class: "btn btn-danger", name: "edit2_remove") do %>
			<span class="fa fa-minus icon-white"></span> 
		<% end %>
	</div>

<% end %>   <!-- remove student form -->

</div>   <!-- row -->

<!-- Last section - show recommended squares for this student -->
<div class="form-spacer"></div>

<div class="row form-row2 pad20">
  <div class="col-xs-10">
    <h4>Recommended squares for <%= @student.full_name %> are: </h4>
  </div>
</div>

<!-- show roster of student behavior squares -->
<% @squares.each_with_index do | each_square, index |%>
	<% if ux_first_row( index) %>
		<div class="row col-xs-offset-1 pad20">
	<% end %>
	<% if ux_next_row( index, 4) %>
		</div>
		<div class="row col-xs-offset-1 pad20">
	<% end %>

 	<div class="col-xs-2 text-center" title="square=<%= each_square.screen_name %>">

		<!-- behavior square, click on it for popover of type/description -->
		<div class="bsquare-icon <%= glow_color(each_square) %> text-center"
					title="<strong><%= each_square.screen_name %><strong> behavior square, type=<%= ux_square_tracking_type( each_square) %>"
					data-toggle="popover" data-trigger="click" data-container="body"
					data-placement="bottom" data-content="<%= each_square.description %>" >
			<h3><%= each_square.screen_name %></h3>
			<span class="fa fa-fw fa-lg <%= fa_bsquare_icon(each_square) %>"></span>
		</div>   <!-- behavior-square -->

	</div>

	<% if ux_last_row( index, @squares.count) %>
		</div>
	<% end %>

<% end %>   <!-- do for each student roster square -->

<br>
<hr class="form-spacer-line">

<!-- done button... back to All Students page -->
<div class="row form-row2 pad20">
	<div class="col-xs-12">
		<h4>Return to All Students page... &nbsp; &nbsp; &nbsp;
		<%= link_to 'All students', students_path, 
						:class => "btn btn-lg btn-primary", :title => "Back to All Students page" %>
		</h4>
	</div>
</row>
