<!-- authors: Ricky Perez & Michael Loptien -->
<% provide(:title, "Edit student") %>

<!-- page header -->
<%= render partial: 'student_page_header', 
			:locals => { 	:title => "Assign squares", 
										:subtitle => "assign recommended behavior squares to student, #{ @student.full_name }"} %>

<!-- 1st row/form: add a square to student roster -->
<%= form_for(@student) do |f| %>
	<%= render 'error_messages', object: f.object %>

	<div class="row form-row vertical-align pad20">
		<div class="col-xs-4 col-xs-offset-1 col-md-3 text-right">
			<span class="fa fa-fw fa-plus" style="color: green;"></span>
			<label><h4>Add Square: </h4></label>
		</div>
    
    <div class="form-group col-xs-2">
			<%= select_tag 'add_square_id', 
						options_from_collection_for_select(@squares_not_in_roster, "id", "screen_name"), 
						class: 'form-control',
						:include_blank => 'Select square', :required => true %>
		</div>

		<div class="form-group col-xs-2">
			<%= button_tag(type: 'submit', class: "btn btn-success", name: "edit2_add") do %>
				<span class="fa fa-plus icon-white"></span> 
			<% end %>
		</div>
  </div>   <!-- row -->

<% end %>   <!-- add student form -->


<!-- 2nd row/form: remove a square from roster -->
<%= form_for(@student) do |f| %>

  <div class="row form-row vertical-align pad20">
		<div class="col-xs-4 col-xs-offset-1 col-md-3 text-right">
			<span class="fa fa-fw fa-minus" style="color: red;"></span>
			<label><h4>Remove Square: </h4></label>
		</div>
    
    <div class="form-group col-xs-2">
			<%= select_tag 'remove_square_id', 
						options_from_collection_for_select(@squares, "id", "screen_name"), 
						class: 'form-control', 
						:include_blank => 'Select square', :required => true %>
		</div>

		<div class="form-group col-xs-2">
			<%= button_tag(type: 'submit', class: "btn btn-danger", name: "edit2_remove") do %>
				<span class="fa fa-minus icon-white"></span> 
			<% end %>
		</div>
  </div>   <!-- row -->

<% end %>   <!-- remove student form -->

<!-- Last section - show recommended squares for this student -->
<div class="form-spacer"></div>
<div class="row pad20">
  <div class="col-xs-10 col-xs-offset-1">
    <h4>Recommended squares for student, <%= @student.full_name %>: </h4>
  </div>
</div>

<!-- show roster of student behavior squares -->
<% @squares.each_with_index do | each_square, index |%>
	<% if ux_first_row( index) %>
		<div class="row pad20 col-xs-offset-2">
	<% end %>
	<% if ux_next_row( index, 4) %>
		</div>
		<div class="row pad20 col-xs-offset-2">
	<% end %>

 	<div class="col-xs-2 text-center" title="square=<%= each_square.screen_name %>">
		<div class="bsquare-icon <%= glow_color(each_square) %> text-center" >
			<h3><%= each_square.screen_name %></h3>
	    <span class="fa fa-fw fa-lg <%= fa_bsquare_icon(each_square) %>"></span>
		</div>   <!-- behavior-square -->
	</div>

	<% if ux_last_row( index, @squares.count) %>
		</div>
	<% end %>

<% end %>   <!-- do for each student roster square -->

<br>
<hr class="form-spacer-line">

<!-- done button... back to All Students page -->
<div class="row form-row">
	<div class="col-xs-10 col-xs-offset-1">
		<h4>Admin pages done &mdash; return to All Students page... &nbsp; &nbsp; &nbsp;
		<%= link_to 'All students', students_path, 
						:class => "btn btn-lg btn-primary", :title => "Back to All Students page" %>
		</h4>
	</div>
</row>
