<!-- authors: Ricky Perez & Michael Loptien -->
<% provide(:title, "All students") %>

<!-- page header -->
<%= render partial: 'schools/school_page_header', 
			:locals => { 	:title => "All students", 
										:subtitle => "view/manage all students at #{ @school.full_name }"} %>

<!-- Start with student info and the New Student button -->
<div class="row first-content-row">
	<div class="col-xs-5 col-xs-offset-1">
	  <h4>
	    There <%= @students.count == 1 ? 'is' : 'are' %> <%= pluralize(@students.count, "student") %> 
	    at <%= @school.full_name %>.
    </h4>
  </div>
  <div class="col-xs-5 text-center">
    <%= button_to new_student_path, method: :get, class: 'btn btn-lg btn-success' do %>
  		<span class="fa fa-fw fa-lg fa-plus-square-o"></span> New Student
		<% end %>
  </div>
</div>

<!-- Start of Table -->
<div class="row">
  <div class="col-xs-10 col-xs-offset-1">

<table class="table table-striped table-hover table-responsive schools-table">

  <!-- Table Header -->
  <thead>
    <tr>
      <th></th>     <!-- blank for student icon -->
      <!--<th>ID</th>-->
      <th>Name</th>
      <th>Num Sessions</th>
      <th>Last Session</th>
    </tr>
  </thead>

  <!-- Table Body -->
  <tbody>
    <% @students.each do |each_student| %>

      <!--Make the entire line a link--> 
      <tr data-link = "<%= edit_student_path(each_student) %>">

        <!-- student icon --> 
        <td>
          <div class="student-table-icon <%= icon_color(each_student) %>">
            <span class="fa fa-lg fa-fw <%= fa_icon(each_student) %>"></span>
				  </div>
        </td>

        <td><%= ux_student_name(each_student, 40) %></td>

        <td><%= ux_num_sessions(@sessions, each_student) %></td>

        <td><%= ux_last_session_date(@sessions, each_student) %></td>

      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate %>

  </div>   <!-- col -->
</div>   <!-- row -->
