<!-- authors: Ricky Perez & Michael Loptien -->
<!-- new view for students, rendered _form -->
<% provide(:title, "New student") %>

<!-- Page Header -->
<div class="page-header vertical-align">

  <!-- Fills in school screen name -->
	<div class="col-xs-11">
	  <h2>New Student<small> - add a student to school <%= @screen_name %></small></h2>
	</div>
	
	<!-- Fills in with school color, icon, and full name of school -->
	<div class="col-xs-1 center-block">
		<div class="header-sq i-<%= @color %>" title="<%= @full_name%>">
					<span class="fa fa-<%= @icon %> fa-3x teacher-icon"></span>
		</div>
	</div>
</div>
<!--End page header-->

<!-- Render the form -->
<%= render 'form', student: @student, isNew: true %>
