<!-- authors: Ricky Perez & Michael Loptien -->
<% provide(:title, "Student Page") %>

<!-- page header -->
<%= render partial: 'student_page_header', 
			:locals => { 	:title => "Student Page", 
										:subtitle => "work with student #{ @student.full_name }"} %>

<%= form_for(@student) do |f| %>
  <%= render 'error_messages', object: f.object %>

  <!-- show student name, interval and icon -->
	<div class="row form-row vertical-align">

		<!-- 1st column - student name, interval fields -->
		<div class="col-xs-6 col-xs-offset-1">
			<div class="row form-row">
				<div class="col-xs-4"><h4>Name: </h4></div>
				<div class="col-xs-6">
					<%= f.text_field :full_name, :readonly => true, class: 'form-control' %>
				</div>
			</div>   <!-- row -->
			<div class="row form-row">
				<div class="col-xs-4"><h4>Session Interval:<br><small>(minutes)</small> </h4></div>
				<div class="col-xs-4">
					<%= f.text_field :session_interval, :readonly => true, class: 'form-control' %>
				</div>
			</div>   <!-- row -->
		</div>   <!-- spinners col -->

		<!-- 2nd column - student icon -->
		<div class="col-xs-4">
			<div class="col-xs-2">
				<div class="student-icon <%= icon_color(@student) %>" 
				      title="student=<%= @student.full_name %>" >
					<span id="sample-student-icon" class="fa fa-3x fa-fw <%= fa_icon(@student) %> "></span>
				</div>
			</div>
		</div>
	</div>   <!-- name+interval+icon row -->

  <div class="row form-row">
    <div class="col-xs-4 col-xs-offset-1">
      <h4>Behavior squares:</h4>
    </div>
  </div>

	<% if @student_roster_squares.count > 0 %>
		<!-- show student's roster of default/recommended squares -->
		<%= render 'show_roster_squares', roster_squares: @student_roster_squares %>
	<% else %>   
		<!-- with no student defaults, show all squares at the school -->
		<%= render 'show_school_squares', school_squares: @school_squares %>
	<% end %>

  <!-- Start Session button -->
  <div class="row form-row pad40">
    <div class="col-xs-8 col-xs-offset-1 text-center">
      <%= button_tag(type: 'submit', class: "btn btn-lg btn-success", name: 'start_session') do %>
			  <span class="fa fa-fw fa-lg fa-thumbs-o-up"></span> Start Session
			<% end %>
    </div>
  </div>

<% end %>

<hr class="form-spacer-line">

<!-- action button to Login Settings page -->
<div class="row">
	<div class="col-xs-10 col-xs-offset-1">
		<h4>Assign default behavior squares for student: &nbsp; &nbsp; &nbsp;
			<%= link_to "Assign squares...", edit_roster_square_path(@student), 
						:class => "btn btn-lg btn-primary", :title => "Assign default behavior squares" %>
		</h4>
	</div>
</div>

