<!-- authors: Ricky Perez & Michael Loptien -->
<% provide(:title, "Student page") %>

<!-- page header -->
<%= render partial: 'student_page_header', 
			:locals => { 	:title => "Student page", 
										:subtitle => "work with student #{ @student.full_name }"} %>

<%= form_for(@student) do |f| %>
  <%= render 'error_messages', object: f.object %>

<div class="row form-row2 navpanel-row pad20">

	<div class="col-xs-12 col-sm-6">

		<!-- SESSION action panel -->
		<div class="panel panel-default navpanel">
		  <div class="panel-heading">
		    <h3 class="panel-title navpanel-title"><span class="fa fa-lg fa-fw fa-thumbs-o-up navpanel-yelloworange"></span> Session</h3>
		  </div>
		  <div class="panel-body navpanel-body">
		    <p>Begin a behavioral session with student <%= @student.full_name %>.</p>
		    <p>
		    	<%= button_tag(type: 'submit', class: "btn btn-lg btn-default navpanel-yelloworange-button", 
    			name: 'start_session', title: 'Start behavioral session') do %>
						Begin session <i class="fa fa-fw fa-chevron-right"></i>
		    	<% end %>
		    </p>
		  </div>
		</div>   <!-- panel -->
	</div>

	<!-- ANALYSIS action panel... only if the teacher has access! -->
	<% if can_access_student( @student) %>
	<div class="col-xs-12 col-sm-6">
		<div class="panel panel-default navpanel">
		  <div class="panel-heading">
		    <h3 class="panel-title navpanel-title"><span class="fa fa-lg fa-fw fa-star-o navpanel-darkgray"></span> Analysis</h3>
		  </div>
		  <div class="panel-body navpanel-body">
		    <p>View reports, forms and data export options to analyze this student's session data.</p>
		    <p>
		    	<%= button_tag(type: 'submit', class: "btn btn-lg btn-default navpanel-darkgray-button", 
    			name: 'analysis', title: 'Goto student analysis page') do %>
						Goto analysis <i class="fa fa-fw fa-chevron-right"></i>
		    	<% end %>
		    </p>
		  </div>
		</div>   <!-- panel -->
	</div>
	<% end %>
</div>   <!-- row -->

<script>
    $(document).ready(function(){
        // Add minus icon for collapse element which is open by default
        $(".collapse.in").each(function(){
        	$(this).siblings(".panel-heading").find(".glyphicon").addClass("glyphicon-minus").removeClass("glyphicon-plus");
        });

        // Toggle plus minus icon on show hide of collapse element
        $(".collapse").on('show.bs.collapse', function(){
        	$(this).parent().find(".glyphicon").removeClass("glyphicon-plus").addClass("glyphicon-minus");
        }).on('hide.bs.collapse', function(){
        	$(this).parent().find(".glyphicon").removeClass("glyphicon-minus").addClass("glyphicon-plus");
        });
    });
</script>

<div class="row form-row2 pad20">
	<div class="col-xs-12">

<!-- This whole panel group is a collapsible accordion -->
<div class="panel-group" id="accordion">
	<div class="panel panel-info">
		<div class="panel-heading">
			<h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
					<span class="glyphicon glyphicon-plus"></span> &nbsp; Session setup for <%= @student.full_name %>
				</a>
			</h4>
		</div>
		<div id="collapseOne" class="panel-collapse collapse ">
			<div class="panel-body">

				<div class="col-xs-10 col-md-6 col-lg-4 form-group">
					<label>Session interval (minutes)</label>
					<%= f.text_field :session_interval, :readonly => true, class: 'form-control form-input-tweak' %>
				</div>

				<div class="clearfix"></div>

				<div class="col-xs-10 form-group">
					<label>Session squares</label>
					<input type="text" class="form-control form-input-tweak" 
								readonly="readonly" value="<%= ux_interval_counting_description(@student) %>" >
				</div>

				<div class="clearfix"></div>

			  <div class="col-xs-10">
			    <label>Behavior squares for student:</label>
			  </div>

				<div class="clearfix"></div>

				<% if @student_roster_squares.count > 0 %>
					<!-- show student's roster of default/recommended squares -->
					<%= render 'show_roster_squares', roster_squares: @student_roster_squares %>
				<% else %>   
					<!-- with no student defaults, show all squares at the school -->
					<%= render 'show_school_squares', school_squares: @school_squares %>
				<% end %>
				<br>

				<div class="clearfix"></div>

				<div class="col-xs-10 form-group">
					<label>Session instructions</label>
					<%= f.text_area :session_instructions, :readonly => true, 
								class: "form-control form-input-tweak info-textarea", rows: "6" %>
				</div>
			</div>
		</div>
	</div>
</div>   <!-- panel-group --> 

	</div>
</div>   <!-- row -->

<% end %>   <!-- student form -->
