<!-- Author: Ricky Perez, contains the form for making a new square-->
<%= form_for(roster_square) do |f| %>
  <% if roster_square.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(roster_square.errors.count, "error") %> prohibited this roster_square from being saved:</h2>

      <ul>
      <% roster_square.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  

<!-- add square row-->
<div class="row vertical-align">
	<div class="col-xs-1 col-xs-offset-1 text-right">
		<span class="fa fa-plus" style="color: green;"></span>
	</div>
	<div class="col-xs-2 text-left">
		<label for="addSquare"><h4>Add Square: </h4></label>
	</div>
	<div class="form-group col-xs-2">
  	<!-- Loops through checking which squares the student has in the roster of squares-->
		<% @school_squares.each do |square| %>
		     <% isSquare = is_student_square(square) %>
  	<%end%>
		 <!-- Populates drop down for add box-->
  	 <%= f.select :square_id, options_for_select(@not_student_squares.map {|squares| ["#{squares.screen_name } - #{squares.full_name }", squares.id, ]}), class: "form-control", id: "addSquare"%>
    <!-- This the id for the student it's just hidden-->
    <%= f.hidden_field :student_id, :value => @student.id%>
	</div>
	<div class="col-xs-2 text-center">
	   <%= button_tag(type: 'submit', class: "btn btn-success", id: "addStudBtn") do %> <i class="fa fa-plus icon-white"></i> <% end %>
	</div>
</div>

<div class="form-spacer"></div>

<%end%>
