<!--Author: Michael Loptien and Ricky Perez -->
<% provide(:title, "Student squares") %>

<!-- page header -->
<%= render partial: 'students/student_page_header', 
			:locals => { 	:title => "Student squares", 
										:subtitle => "view/edit behavior squares for student #{ @student.full_name }"} %>

<!-- show student behavior Squares -->
<div class="row pad20">

	<!--Link to possible solution: https://stackoverflow.com/questions/14528919/new-row-every-3-items -->
	<!-- set the squares for the specific student-->
  <% @student_squares.each do | each_square, index |%>
		<!-- get the real, live behavior square for this roster square -->
  	<% real_square = set_real_square( each_square) %>
   	<div class="col-xs-2 col-xs-offset-1 pad20">
			<%= link_to edit_square_path(real_square), :class => "bsquare-link" do %>
				<div class="bsquare-icon <%= glow_color(real_square) %> text-center" >
  				<h3><%= real_square.screen_name %></h3>
			    <span class="fa fa-fw fa-lg <%= fa_bsquare_icon(real_square) %>"></span>
  			</div>   <!-- behavior-square -->
			<% end %>   <!-- link_to edit square -->
		</div>
	<%end%>   <!-- do for each student square -->

</div>

<!-- form for add square row-->
<%= form_for(@roster_square) do |f| %>
	<div class="row vertical-align pad40">
		<div class="col-xs-1 col-xs-offset-1 text-right">
			<span class="fa fa-plus" style="color: green;"></span>
		</div>
		<div class="col-xs-2 text-left">
			<label for="addSquare"><h4>Add Square: </h4></label>
		</div>
		<div class="form-group col-xs-2">
	  	<!-- Loops through checking which squares the student has in the roster of squares-->
			<% @school_squares.each do |square| %>
			     <% isSquare = is_student_square(square) %>
	  	<%end%>
			 <!-- Populates drop down for add box-->
	  	 <%= f.select :square_id, 
	  	 			options_for_select(@not_student_squares.map {|squares| ["#{squares.screen_name } - #{squares.full_name }", squares.id, ]}), 
	  	 			{}, { class: "form-control", id: "addSquare" } %>
	    <!-- This the id for the student it's just hidden-->
	    <%= f.hidden_field :student_id, :value => @student.id%>
		</div>
		<div class="col-xs-2 text-center">
		   <%= button_tag(type: 'submit', class: "btn btn-success", id: "addStudBtn") do %> <i class="fa fa-plus icon-white"></i> <% end %>
		</div>
	</div>   <!-- row -->
<% end %>   <!-- add square form -->

<div class="form-spacer"></div>

<!-- form for delete roster square-->
<form>
	<div class="row vertical-align">
		<div class="col-xs-1 col-xs-offset-1 text-right">
			<span class="fa fa-minus" style="color: red;"></span>
		</div>
		<div class="col-xs-2 text-left">
			<label for="removeSquare"><h4>Remove Square: </h4></label>
		</div>
		<div class="form-group col-xs-2">
			<!--Populates the drop down box-->
			<%= select_tag 'remove_square_id', 
						options_for_select(@student_squares.map {|student_square| ["#{set_square_name(student_square)} - #{set_square_desc(student_square) }", student_square.id] }), 
						class: "form-control", id: "removeSquare"%>
		</div>
		<div class="col-xs-2 text-center">
			<!--Creates the button for the delete drop down box-->
			<%= button_tag(type: 'submit', class: "btn btn-danger", id: "addStudBtn", name: "remove_square") do %> <i class="fa fa-minus icon-white"></i> <% end %>
		</div>
	</div>   <!-- row -->
	
	<div class="form-spacer"></div>
</form>   <!-- rm square form -->
