<!-- This form handles selection a student from the your students radio icons. -->
<%= form_for(@teacher, url: home_path) do |f| %>

	<!--View: your students; a grid of student icons -->
	<div class="row student-icon-row"> 
		<% if @top_students.count == 0 %>
			<div class="col-xs-8 col-xs-offset-2" style="padding: 20px 0 60px 0;">
				<h4>
					<i>Sorry &mdash; It looks like you haven't worked with any students yet.
					<br><br>
					Try selecting "All students" above to get started. </i>
				</h4>
			</div>
		<% else %>
			<!--Student display area: shows the last 8 students teacher worked with -->
			<% @top_students.each_with_index do |student, index| %>
				<% if index == 0 || index == 4 %>
					<div class="row students-row col-xs-offset-2">
				<% end %>
	
				<div class="col-xs-2 text-center">
					<input name="student_roster" id="student<%= student.id %>" value="student<%= student.id %>" style="display:none;" type="radio"/>
					<label for="student<%= student.id %>">
						<div class="image-radio" id="<%= student.id %>">
							<div class ="home-icon <%= home_icon_color(student) %> center-block">
								<span class="fa fa-fw fa-4x fa-<%= student.icon %>"></span>
							</div>
						</div>
					</label>
		      <p><span class="student-icon-text" id="<%= student.id %>"><%= student.full_name%></span></p>
				</div>    <!-- col -->
	
		    <% if index == 3 || index == 7 || index == (@top_students.size-1) %>
		    	</div>   <!-- row -->
		    <% end %>
		  <% end %>
		</div>   <!-- student icons row(s) -->
	<% end %>

	<!-- Goto Student button -->
	<div class="row form-group" style="padding-top: 20px" > 
		<div class="col-xs-2 col-xs-offset-2 text-center">
			<%= button_tag(type: 'submit', class: "btn btn-lg btn-primary", name: 'go_student') do %>
				<%= image_tag("logos/smallgem.png", :alt => "GeoGem logo", :width => 32) %>
				 &nbsp; Goto student
			<% end %>
		</div>   <!-- col -->
	</div>   <!-- row -->

<% end %>
