<!-- authors: Ricky P & Michael L -->
<!-- new/edit students form partial -->

<%= form_for(teacher) do |f| %>
	<%= render 'error_messages', object: f.object %>

	<!-- school_id fetched from admin -->
	<%= f.hidden_field :school_id, :value => current_teacher.school_id %>

<div class="row form-row2">

<!-- new teacher includes username, password, confirmation and name -->
<% if local_assigns[:isNew] %>

	<!-- login username -->
	<div class="col-xs-10 col-md-8 form-group">
		<label>Username <small>(for login)</small></label>
		<%= f.text_field :user_name, required: true, class: 'form-control form-input-tweak' %>
	</div>

	<div class="clearfix"></div>

	<!-- password -->
	<div class="col-xs-10 col-md-8 form-group">
		<label>Password &nbsp; </label>
		<span class="fa fa-fw fa-lg fa-question-circle color-scheme-blue"
					data-toggle="popover" data-trigger="click" data-placement="bottom"
					data-content="Your password must have 6 characters or more."></span>
		<%= f.password_field :password, required: true, 
					class: 'form-control form-input-tweak' %>
	</div>

	<div class="clearfix"></div>

	<!-- confirm password -->
	<div class="col-xs-10 col-md-8 form-group">
		<label>Confirm Password</label>
		<%= f.password_field :password_confirmation, required: true, 
					class: 'form-control form-input-tweak' %>
	</div>

	<div class="clearfix"></div>

	<!-- name -->
	<div class="col-xs-10 col-md-8 form-group pad20">
		<label>Name</label>
		<%= f.text_field :full_name, required: true, class: 'form-control form-input-tweak' %>
	</div>

<!-- the else case means we're editing an existing teacher -->
<% else %>

	<div class="col-xs-10 col-md-8 form-group">
		<label>Name</label>
		<%= f.text_field :full_name, :readonly => true, class: 'form-control form-input-tweak' %>
	</div>

	<!-- login username -->
	<div class="col-xs-10 col-md-8 form-group">
		<label>Username <small>(for login)</small></label>
   	<%= f.text_field :user_name, :readonly => true, class: 'form-control form-input-tweak' %>
	</div>

<% end %>

</div>   <!-- row -->

<div class="row form-row2">

	<!-- email -->
	<div class="col-xs-10 col-md-8 form-group">
		<label>Email</label>
		<%= f.email_field :email, required: true, class: 'form-control form-input-tweak' %>
	</div>

	<div class="clearfix"></div>

	<!-- powers: is this teacher an admin? -->
	<div class="col-xs-10 col-md-8 form-group">
		<label>Powers &nbsp; </label>
		<span class="fa fa-fw fa-lg fa-question-circle color-scheme-blue"
					data-toggle="popover" data-trigger="click" data-placement="bottom"
					data-content="Admin teachers will have access to all student and teacher data in your school."></span>
		<span class="checkbox" style="padding-left: 40px;">
			<%= f.label :admin do %>
				<%= f.check_box :admin, { :class=> 'form-check' }, "true", "false" %>Admin
			<% end %>
		</span>
	</div>
</div>   <!-- row -->

<!-- teacher icon includes color, icon choice, and interactive sample -->
<div class="row form-row2 pad20">

	<!-- color and icon spinners in the 1st column -->
	<div class="col-xs-5 form-group">
		<div class="row">
			<div class="col-xs-12">
				<label>Color</label>
				<%= f.select :color, teacherColors.map {|color| [color.titleize, color]}, 
							{}, {class: 'form-control form-input-tweak'} %>
			</div>
			<div class="col-xs-12 pad20">
				<label>Icon</label>
				<%= f.select :icon, teacherIcons.map {|icon| [icon.titleize, icon]}, 
									{}, {class: 'form-control form-input-tweak'} %>
			</div>
		</div>   <!-- row -->
	</div>   <!-- first col -->

	<!-- the interactive icon -->
	<div class="col-xs-5 pad20">
		<div id="sample-teacher-color" class="teacher-icon <%= icon_color(teacher) %>" 
					title="teacher=<%= teacher.full_name %>" >
			<span id="sample-teacher-icon" class="fa fa-3x fa-fw <%= fa_icon(teacher) %> "></span>
		</div>
	</div>   <!-- second col -->

</div>   <!-- row -->

<div class="form-spacer"></div>

<div class="row form-row2">

	<!-- extra teacher info (optional) --> 
	<div class="col-xs-10 form-group">
		<label>Teacher Info<small> (optional) </small></label>
		<%= f.text_area :description, class: "form-control form-input-tweak info-textarea",
					rows: "6" %>
	</div>

</div>   <!-- row -->

<!-- OK/Cancel buttons -->
<div class="row form-row2 pad20">
	<div class="col-xs-10">
	  <% if local_assigns[:isNew] %>
	    <%= button_tag(type: 'submit', class: "btn btn-lg btn-success") do %>Add New Teacher<% end %>
			&nbsp; &nbsp; &nbsp;
			<%= link_to "Cancel", teachers_path, :class => "btn btn-lg btn-danger", 
	    			:title => "Back to All teachers page" %>
	  <% else %>
      <%= button_tag(type: 'submit', class: "btn btn-lg btn-success", name: 'edita') do %>Change Properties<% end %>
      &nbsp; &nbsp; &nbsp;
	  	<%= link_to "Cancel", 'edit', :class => "btn btn-lg btn-danger", 
	  				:title => "Back to Setup teacher page" %>
	  <% end %>

	</div>
</div>   <!-- row -->

<% end %>

<!-- 
	Javascript below is specifically for this Teacher Profile page.
	It makes the sample teacher icon change interactively with color or icon spinner.
	CSS ID's make this (spaghetti code) work: 
		#teacher_color - the Rails-created ID for the color spinner
		#teacher_icon - the Rails-created ID for the icon spinner
		#sample-teacher-color - div where sample icon color is set
		#sample-teacher-icon - div where sample FA icon is set
-->
<script>
	$(document).ready(function() {
		$('#teacher_color').change(function(){
			setColor();
		});
		$('#teacher_icon').change(function(){
			setIcon();
		});
	});

	function setColor() {
		var color =  $('#teacher_color').find('option:selected').attr('value');
		$('#sample-teacher-color').removeClass();
		$('#sample-teacher-color').addClass('teacher-icon');
		$('#sample-teacher-color').addClass('i-' + color);
	}
	function setIcon() {
		var icon =  $('#teacher_icon').find('option:selected').attr('value');
		$('#sample-teacher-icon').removeClass();
		$('#sample-teacher-icon').addClass('fa fa-3x fa-fw');
		$('#sample-teacher-icon').addClass('fa-' + icon);
	}
</script>
