<!-- authors: Ricky P & Michael L -->
<!-- new/edit students form partial -->

<%= form_for(teacher) do |f| %>
	<%= render 'error_messages', object: f.object %>

	<!-- school_id fetched from admin -->
	<%= f.hidden_field :school_id, :value => current_teacher.school_id %>

	<!-- username for login -->
	<div class="row form-row">
		<div class="col-xs-2 col-xs-offset-1"><h4>Login Username: </h4></div>
		<div class="col-xs-4">
		  <% if local_assigns[:isNew] %>
			  <%= f.text_field :user_name, required: true, class: 'form-control' %>
			<% else %>
        <%= f.text_field :user_name, :readonly => true, class: 'form-control' %>
			<% end %>
		</div>
	</div>

<% if local_assigns[:isNew] %>
	<!-- password -->
	<div class="row form-row">
		<div class="col-sm-offset-1 col-sm-2"><h4>Password: </h4></div>
		<div class="col-sm-4 col-sm-offset-0">
			<%= f.password_field :password, required: true, class: 'form-control'%>
		</div>
	</div>

	<!-- confirm password -->
	<div class="row form-row">
		<div class="col-sm-offset-1 col-sm-2"><h4>Confirm Password: </h4></div>
		<div class="col-sm-4 col-sm-offset-0">
			<%= f.password_field :password_confirmation, required: true, class: 'form-control'%>
		</div>
	</div>

	<hr class="form-spacer-line">

<% end %>

	<!-- name -->
	<div class="row form-row">
		<div class="col-xs-2 col-xs-offset-1"><h4>Name: </h4></div>
		<div class="col-xs-4">
  	  <% if local_assigns[:isNew] %>
			  <%= f.text_field :full_name, required: true, class: 'form-control' %>
			<% else %>
  			<%= f.text_field :full_name, :readonly => true, class: 'form-control' %>
			<% end %>
		</div>
	</div>

	<!-- teacher icon includes color, icon choice, and interactive sample -->
	<div class="row">
		<div class="col-xs-2 col-xs-offset-1"><h4>Teacher Icon:</h4></div>
	</div>

	<div class="row form-row vertical-align">
		<!-- color and icon spinners in the 1st column -->
		<div class="col-xs-4 col-xs-offset-3">
			<div class="row">
				<div class="col-xs-3"><h4>Color: </h4></div>
				<div class="col-xs-7 col-xs-offset-1">
					<%= f.select :color, teacherColors.map {|color| [color.titleize, color]}, 
											{}, {class: 'form-control'} %>
				</div>
			</div>   <!-- row -->
			<div class="row">
				<div class="col-xs-3"><h4>Icon: </h4></div>
				<div class="col-xs-7 col-xs-offset-1">
					<%= f.select :icon, teacherIcons.map {|icon| [icon.titleize, icon]}, 
									{}, {class: 'form-control'} %>
				</div>
			</div>   <!-- row -->
		</div>   <!-- form selects col -->

		<!-- sample teacher icon in the 2nd column; it's interactive! -->
		<div class="col-xs-4">
			<div class="col-xs-2">
				<div id="sample-teacher-color" class="teacher-icon <%= icon_color(teacher) %>" 
									title="teacher=<%= teacher.full_name %>" >
					<span id="sample-teacher-icon" class="fa fa-3x fa-fw <%= fa_icon(teacher) %> "></span>
				</div>
			</div>
		</div>   <!-- sample icon col -->
	</div>   <!-- color+icon row -->

	<div class="form-spacer"></div>
	<!-- powers: is teacher an admin? -->
	<div class="row form-row">
		<div class="col-xs-2 col-xs-offset-1"><h4>Powers: </h4></div>
		<div class="col-xs-2 checkbox">
			<%= f.label :admin do %>
				<%= f.check_box :admin, { :class=> 'form-check' }, "true", "false" %>Admin
			<% end %>
		</div>
	</div>

	<!-- email -->
	<div class="row form-row">
		<div class="col-xs-2 col-xs-offset-1"><h4>Email: </h4></div>
		<div class="col-xs-4">
			<%= f.email_field :email, required: true, class: 'form-control' %>
		</div>
	</div>

	<!-- extra teacher info (optional) -->  
	<div class="row form-row">
		<div class="col-xs-2 col-xs-offset-1"><h4>Teacher Info: <br><small>(optional)</small></h4></div>
		<div class="col-xs-6">
			<%= f.text_area :description, class: "form-control info-textarea" %>
		</div>
	</div>

  <!-- OK/Cancel buttons -->
	<div class="row form-row action-buttons-row">
		<div class="col-xs-6 col-xs-offset-1 text-center">
		  <% if local_assigns[:isNew] %>
		    <%= button_tag(type: 'submit', class: "btn btn-success") do %>Add New Teacher<% end %>
		  <% else %>
        <%= button_tag(type: 'submit', class: "btn btn-success") do %>Change Profile<% end %>
		  <% end %>
		  &emsp; &emsp; &emsp;
		  <%= link_to "Cancel", teachers_path, :class => "btn btn-danger", 
		        :title => "Back to All Teachers page" %>
		</div>
	</div>

<% end %>

<!-- 
	Javascript below is specifically for this Teacher Profile page.
	It makes the sample teacher icon change interactively with color or icon spinner.
	CSS ID's make this (spaghetti code) work: 
		#teacher_color - the Rails-created ID for the color spinner
		#teacher_icon - the Rails-created ID for the icon spinner
		#sample-teacher-color - div where sample icon color is set
		#sample-teacher-icon - div where sample FA icon is set
-->
<script>
	$(document).ready(function() {
		$('#teacher_color').change(function(){
			setColor();
		});
		$('#teacher_icon').change(function(){
			setIcon();
		});
	});

	function setColor() {
		var color =  $('#teacher_color').find('option:selected').attr('value');
		$('#sample-teacher-color').removeClass();
		$('#sample-teacher-color').addClass('teacher-icon');
		$('#sample-teacher-color').addClass('i-' + color);
	}
	function setIcon() {
		var icon =  $('#teacher_icon').find('option:selected').attr('value');
		$('#sample-teacher-icon').removeClass();
		$('#sample-teacher-icon').addClass('fa fa-3x fa-fw');
		$('#sample-teacher-icon').addClass('fa-' + icon);
	}
</script>
