<div class="page-header vertical-align geogem-page-header">
	<div class="col-xs-11">
		<h2><%=title%><small> - <%= home_welcome_message(@teacher, @first_home) %> </small></h2>
	</div>
	<div class="col-xs-1">
		<div class="header-sq <%= icon_color(@teacher) %>" title="teacher=<%= @teacher.full_name %>" >
			<span class="fa fa-2x fa-fw <%= fa_icon(@teacher) %> page-header-icon"></span>
		</div>
	</div>
</div>   <!-- page-header -->
