<!-- This form handles selection a student from the your students radio icons. -->

<style>
/* radio button css - select one */
input[type="radio"]:checked + label { box-shadow: 0 0 24px black; }
.student-radio input[type="radio"] { 	display: none;  }
</style>

<%= form_for(@teacher, url: home_path) do |f| %>
	<!--View: your students; a grid of student icons -->
	<% if @top_students.count == 0 %>
		<div class="row">
			<div class="col-xs-8 col-xs-offset-2" style="padding: 20px 0 40px 0;">
				<div class="jumbotron well">
					<h4>
						<i>Sorry &mdash; You haven't worked with any students yet.
						<br><br>
						Try selecting "All students" above to get started. </i>
					</h4>
				</div>
			</div>
		</div>   <!-- row -->
	<% else %>
		<!--Student display area: shows the last 8 students teacher worked with -->
		<% @top_students.each_with_index do |student, index| %>
			<% if ux_first_row( index) %>
				<div class="row student-radio pad20">
			<% end %>

			<% if ux_next_row( index, 4) %>
				</div>
				<div class="row student-radio pad20">
			<% end %>

			<div class="col-xs-3 text-center">
				<input name="student_roster" id="student<%= student.id %>" 
							value="student<%= student.id %>"  type="radio" class="view-radio"/>
				<label for="student<%= student.id %>">
					<div class="image-radio" id="<%= student.id %>">
						<div class ="student-home-icon <%= glow_color(student) %> center-block">
							<span class="fa fa-fw fa-4x <%= fa_icon(student) %>"></span>
						</div>
					</div>
					<p><span id="<%= student.id %>"><%= ux_student_name(student, 15) %></span></p>
				</label>
			</div>   <!-- col -->

			<% if ux_last_row( index, @top_students.size) %>
				</div>
			<% end %>

		<% end %>   <!-- each student loop -->
	<% end %>   <!-- if-else -->

	<!-- Hidden div holds list of all students, so we can select one -->
	<div style="display:none;">
		<%= select_tag 'student_id', 
					options_from_collection_for_select(@all_students.order( 'full_name ASC'), 'id', 'full_name'), 
					{:required => true} %>
	</div>

	<!-- Goto Student button -->
	<div class="row form-group pad20" > 
		<div class="col-xs-10 col-xs-offset-1 text-center">
			<%= button_tag(type: 'submit', class: "btn btn-lg btn-primary disabled", 
						id: 'goto-button', name: 'go_student', disabled: true) do %>
				<%= image_tag("logos/smallgem.png", :alt => "GeoGem logo", :width => 32) %>
				 &nbsp; Goto student
			<% end %>
		</div>   <!-- col -->
	</div>   <!-- row -->

<% end %>
