<div class="page-header vertical-align geogem-page-header">
	<div class="col-xs-11">
		<h2><%=title%><small> - <%=description%>; teacher=<%= @teacher.full_name %></small></h2>
	</div>
	<div class="col-xs-1">
		<div class="header-sq i-<%= @teacher.color %>" title="teacher=<%= @teacher.full_name %>" >
			<span class="fa fa-2x fa-fw fa-<%= @teacher.icon %> page-header-icon"></span>
		</div>
	</div>
</div>   <!-- page-header -->
