<!-- Edited for use by Dakota B and Robert H-->
<% provide(:title, "Admin report") %>

<!-- page header -->
<%= render partial: 'schools/school_page_header', 
			:locals => { 	:title => "Admin report", 
										:subtitle => "basic lists of students, teachers, and squares at #{ @school.full_name }"} %>


<div class="row form-row2">
	<div class="col-xs-12">


<!-- Section 1. STUDENTS table -->
<h3 class="admin-header">1. All students
	<small>
		 - there <%= @students.count == 1 ? 'is' : 'are' %> 
		<%= pluralize(@students.count, "student") %> at <%= @school.full_name %> 
	</small>
</h3>

<div class="panel-group" id="accordion">			<!-- All STUDENTS accordion -->
	<div class="panel panel-default">
		<div class="panel-heading">
			<a data-toggle="collapse" data-parent="#accordion" href="#collapseStudents" 
					style="text-decoration: none;">
				<h4 class="panel-title">
					<span class="glyphicon glyphicon-plus"></span> &nbsp; Students table
				</h4>
			</a>
		</div>   <!-- panel-heading -->

		<div id="collapseStudents" class="panel-collapse collapse">
			<div class="panel-body">
				<%= render 'admin_all_students'  %>
			</div>   <!-- panel-body -->
		</div>
	</div>
</div>   <!-- panel-group -->


<div class="clearfix"></div>


<!-- Section 2. TEACHERS table -->
<h3 class="admin-header pad20">2. All teachers
	<small>
		 - there <%= @teachers.count == 1 ? 'is' : 'are' %> 
				<%= pluralize(@teachers.count, "teacher") %> at <%= @school.full_name %> 
	</small>
</h3>

<div class="panel-group" id="accordion">			<!-- All TEACHERS accordion -->
	<div class="panel panel-default">
		<div class="panel-heading">
			<a data-toggle="collapse" data-parent="#accordion" href="#collapseTeachers" 
						style="text-decoration: none;">
				<h4 class="panel-title">
					<span class="glyphicon glyphicon-plus"></span> &nbsp; Teachers table
				</h4>
			</a>
		</div>   <!-- panel-heading -->
		<div id="collapseTeachers" class="panel-collapse collapse">
			<div class="panel-body">
				<%= render 'admin_all_teachers'  %>
			</div>   <!-- panel-body -->
		</div>
	</div>
</div>   <!-- panel-group -->


<div class="clearfix"></div>


<!-- Section 3. SQUARES table -->
<h3 class="admin-header pad20">3. All squares
	<small>
		 - there <%= @squares.count == 1 ? 'is' : 'are' %> 
				<%= pluralize(@squares.count, "behavior square") %> at <%= @school.full_name %>
	</small>
</h3>

<div class="panel-group" id="accordion">			<!-- All SQUARES accordion -->
	<div class="panel panel-default">
		<div class="panel-heading">
			<a data-toggle="collapse" data-parent="#accordion" href="#collapseSquares" 
						style="text-decoration: none;">
				<h4 class="panel-title">
					<span class="glyphicon glyphicon-plus"></span> &nbsp; Squares table
				</h4>
			</a>
		</div>   <!-- panel-heading -->
		<div id="collapseSquares" class="panel-collapse collapse">
			<div class="panel-body">
				<%= render 'admin_all_squares'  %>
			</div>   <!-- panel-body -->
		</div>
	</div>
</div>   <!-- panel-group -->


<div class="clearfix"></div>


	</div>   <!-- col -->
</div>   <!-- row -->

<!-- BACK TO ADMIN button -->
<div class="row form-row2 pad40">
	<div class="col-xs-10">
		<p>
			<%= link_to admin_path, class: 'btn btn-lg btn-default navpanel-darkgray-button' do %>
		  	<span class="fa fa-fw fa-chevron-left"></span> Back to Admin
		  <% end %>
		</p>
	</div>
</div>   <!-- row -->


<script>
	// accordion jquery functions, most of this is from the bootstrap website
	$(document).ready(function(){
		// "in" class makes opens the accordion to start 
		$(".collapse.in").each(function(){
			$(this).siblings(".panel-heading").find(".glyphicon").addClass("glyphicon-minus").removeClass("glyphicon-plus");
		});

		// Toggle plus minus icon on show hide of collapse element
		$(".collapse").on('show.bs.collapse', function(){
			$(this).parent().find(".glyphicon").removeClass("glyphicon-plus").addClass("glyphicon-minus");
		}).on('hide.bs.collapse', function(){
			$(this).parent().find(".glyphicon").removeClass("glyphicon-minus").addClass("glyphicon-plus");
		});
	});

</script>
