<!-- Authors: UX team, Robert Herrera and Dakota B -->
<% provide(:title, "Admin dashboard") %>

<!-- page header -->
<%= render partial: 'schools/school_page_header', 
			:locals => { 	:title => "Admin dashboard", 
										:subtitle => "exercise admin powers at #{ @school.full_name }"} %>

<!-- action icons, first row -->		
<div class="row">

	<!-- View/edit school -->
	<div class="col-xs-2 col-xs-offset-1 text-center" title="View/edit school, <%= @school.full_name %>">
		<div class="action-div">
			<%= link_to edit_school_path(@school.id) do %>
				<div class ="action-icon-square action-icon-neutral <%= icon_color(@school) %> center-block">
					<span class="fa fa-3x fa-fw <%= fa_icon(@school) %> action-icon"></span>
				</div>
			<% end %>
		</div>
		<%= link_to edit_school_path(@school.id) do %>School profile<% end %>
	</div>

	<!-- Basic school report for admins -->
	<div class="col-xs-2 text-center" title="Report basic lists at school, <%= @school.full_name %>">
		<div class="action-div">
			<%= link_to admin_report_path do %>
				<%= render 'action_icon', icon_color: "action-icon-darkgray", fa_icon: "fa-file-text-o" %>
			<% end %>
		</div>
		<%= link_to admin_report_path do %>Admin report<% end %>
	</div>
</div>   <!-- first row of icons -->

<!-- action icons, second row -->
<div class="row action-icon-row">

	<!-- View/edit all students -->
	<div class="col-xs-2 col-xs-offset-1 text-center" title="View/edit all students">
		<div class="action-div">
			<%= link_to students_path do %>
				<%= render 'action_icon', icon_color: "action-icon-lightblue", fa_icon: "fa-child" %>
			<% end %>
		</div>
		<%= link_to students_path do %>All Students<% end %>
	</div>

	<!-- View/edit all teachers -->
	<div class="col-xs-2 text-center" title="View/edit all teachers">
		<div class="action-div">
			<%= link_to teachers_path do %>
				<%= render 'action_icon', icon_color: "action-icon-yelloworange", fa_icon: "fa-apple" %>
			<% end %>
		</div>
		<%= link_to teachers_path do %>All Teachers<% end %>
	</div>

	<!-- View/edit all behavior squares-->
	<div class="col-xs-2 text-center" title="View/edit all behavior squares">
		<div class="action-div">
			<%= link_to squares_path do %>
				<%= render 'action_icon', icon_color: "action-icon-gray", fa_icon: "fa-square-o" %>
			<% end %>
		</div>
		<%= link_to squares_path do %>All Squares<% end %>
	</div>

</div>   <!-- 2nd row of icons -->
