<!-- Authors: UX team, Robert Herrera and Dakota B -->
<% provide(:title, "Admin dashboard") %>

<!-- page header -->
<%= render partial: 'schools/school_page_header', 
			:locals => { 	:title => "Admin dashboard", 
										:subtitle => "exercise admin powers at #{ @school.full_name }"} %>

<div class="row">
	<div class="col-xs-10 col-xs-offset-1">
		<h3>Manage your school<small> - student, teacher, and behavior square setup</small></h3>
	</div>
</div>

<!-- action icons, second row -->
<div class="row pad20">

	<!-- View/edit all students -->
	<div class="col-sm-6 col-md-4 col-md-offset-1 col-lg-3 col-lg-offset-2 text-center action-div">
		<%= link_to students_path do %>
			<%= render 'action_button', button_color: "glow-scheme-darkgray", 
						fa_icon: "fa-child", button_text: "All students" %>
		<% end %>
	</div>   <!-- col -->

	<!-- View/edit all teachers -->
	<div class="col-sm-6 col-md-4 col-lg-3 col-md-offset-1 text-center action-div">
		<%= link_to teachers_path do %>
			<%= render 'action_button', button_color: "glow-scheme-blue", 
						fa_icon: "fa-apple", button_text: "All teachers" %>
		<% end %>
	</div>   <!-- col -->

</div>   <!-- row -->

<div class="row pad20">
	
	<!-- View/edit all behavior squares -->
	<div class="col-sm-6 col-md-4 col-md-offset-1 col-lg-3 col-lg-offset-2 text-center action-div">
		<%= link_to squares_path do %>
			<%= render 'action_button', button_color: "glow-scheme-lightblue", 
						fa_icon: "fa-square-o", button_text: "All squares" %>
		<% end %>
	</div>   <!-- col -->

</div>   <!-- 2nd row of icons -->

<br>
<hr class="form-spacer-line"></hr>

<div class="row">

	<!-- Edit school button -->
	<div class="col-sm-6 col-md-4 col-md-offset-1 col-lg-3 col-lg-offset-2 text-center action-div">
		<%= link_to edit_school_path(@school.id) do %>
			<span class ="action-rectangle <%= glow_color(@school) %>" 
						title="edit school=<%= @school.full_name %>" >
		  	<span class="fa fa-fw fa-lg <%= fa_icon(@school) %>"></span>
		  	&nbsp; Edit school
			</span>
		<% end %>
	</div>   <!-- col -->

	<!-- Admin report button -->
	<div class="col-sm-6 col-md-4 col-lg-3 col-md-offset-1 text-center action-div">
		<%= link_to admin_report_path do %>
			<%= render 'action_button', button_color: "glow-scheme-gray", 
						fa_icon: "fa-file-text", button_text: "Admin report" %>
		<% end %>
	</div>   <!-- col -->
</div>   <!-- first row of icons -->
