<!-- Edited for use by Dakota B and Robert H-->
<% provide(:title, "Admin report") %>

<!-- page header -->
<%= render partial: 'schools/school_page_header', 
			:locals => { 	:title => "Admin report", 
										:subtitle => "basic lists of students, teachers, and squares at #{ @school.full_name }"} %>

<div class="row content-text">
	<div class="col-xs-10 col-xs-offset-1">

<!-- This section lists all Students -->
<h3>1) All students
	<small>
		 - there <%= @students.count == 1 ? 'is' : 'are' %> 
		<%= pluralize(@students.count, "student") %> at <%= @school.full_name %> 
	</small>
</h3>
<br>
<table class="table table-striped table-hover table-responsive students-table">
	<thead>
		<tr>
			<th>Icon</th>
			<th>Student ID</th>
			<th>Full Name</th>
		</tr>
	</thead>
	<tbody>
		<% @students.each do |each_student| %>
		<tr data-link="<%= edit_student_path(each_student.id) %>">
			<td>
				<div class="table-sq <%= icon_color(each_student) %>">
				 	<span class="fa fa-lg fa-fw <%= fa_icon(each_student) %> table-icon"></span>
				</div>
			</td>	
			<td><p><span> <%= each_student.screen_name %></span> </p></td>
			<td><p><span> <%= each_student.full_name %></span> </p></td>
		</tr>
		<% end %>
	</tbody>
</table>   <!-- students table -->

<br><hr><br>

<!-- This section lists all Teachers -->
<h3>2) All teachers
	<small>
		 - there <%= @teachers.count == 1 ? 'is' : 'are' %> 
				<%= pluralize(@teachers.count, "teacher") %> at <%= @school.full_name %> 
	</small>
</h3>
<table class="table table-striped table-hover table-responsive teachers-table">
 	<thead>
 		<tr>
 			<th>Icon</th>
			<th>ID</th>
			<th>Full Name</th>
			<th>Contact Information</th>
			<th>Last Login</th>
	</tr>
	</thead>
	<tbody>
		<% @teachers.each do |each_teacher| %>
			<tr data-link="<%= edit_teacher_path(each_teacher.id) %>">
				<td>
				  <div class="table-sq <%= icon_color(each_teacher) %>">
					  <span class="fa fa-lg fa-fw <%= fa_icon(each_teacher) %> table-icon"></span>
				  </div>
				</td>	
				<td><p><span> <%= each_teacher.screen_name %></span> </p></td>
				<td><p><span> <%= each_teacher.full_name %></span> </p></td>
				<td><p><span> <%= each_teacher.email %></span> </p></td>
				<td><p><span> <%= each_teacher.last_login %></span> </p></td>
			</tr>
		<% end %>
	</tbody>
</table>   <!-- teachers table -->

<br><hr><br>

<!-- This section lists all Squares -->
<h3>3) All squares
	<small>
		 - there <%= @squares.count == 1 ? 'is' : 'are' %> 
				<%= pluralize(@squares.count, "behavior square") %> at <%= @school.full_name %>
	</small>
</h3>
<table class="table table-striped table-hover table-responsive teachers-table">
 	<thead>
 		<tr>
 			<th>Icon</th>
			<th>ID</th>
			<th>Type</th>
			<th>Description</th>
		</tr>
	</thead>
	<tbody>
		<% @squares.each do |each_square| %>
			<tr data-link="<%= edit_square_path(each_square.id) %>">
				<td>
					<div class="table-sq <%= icon_color(each_square) %>">
						<span class="fa fa-2x fa-fw fa-square-o teacher-icon"></span>
					</div>
				</td>	
				<td><p><span> <%= each_square.screen_name %></span> </p></td>

				<!-- If statement for translating square type int into string KM-->
				<td>
					<% if each_square.tracking_type == 1 %>
						<p>Duration</p>
					<% elsif each_square.tracking_type == 2 %>
						<p>Frequency</p>
					<% else %>
						<p>Interval</p>
					<% end %>
				</td>
				<td><p><span> <%= each_square.description %></span> </p></td>
			</tr>
		<% end %>
	</tbody>
</table>   <!-- square table -->

	</div>   <!-- col -->
</div>   <!-- row -->
