<!-- Edited for use by Dakota B and Robert H-->
<% provide(:title, "Admin report") %>

<!-- page header -->
<%= render partial: 'schools/school_page_header', 
			:locals => { 	:title => "Admin report", 
										:subtitle => "basic lists of students, teachers, and squares at #{ @school.full_name }"} %>

<div class="row content-text">
	<div class="col-xs-10 col-xs-offset-1">

<!-- This section lists all Students -->
<h3>1) All students
	<small>
		 - there <%= @students.count == 1 ? 'is' : 'are' %> 
		<%= pluralize(@students.count, "student") %> at <%= @school.full_name %> 
	</small>
</h3>
<br>
<table class="table table-striped table-hover table-responsive students-table">
	<thead>
		<tr>
			<th>Student Icon</th>
			<th>Student ID</th>
			<th>Full Name</th>
		</tr>
	</thead>
	<tbody>
		<% @students.each do |students| %>
		<tr data-link="<%= edit_student_path(students.id) %>">
			<td>
				<div class="table-sq i-<%= students.color %>">
				 	<span class="fa fa-lg fa-fw fa-<%= students.icon %> table-icon"></span>
				</div>
			</td>	
			<td><p class="listText"><span> <%= students.screen_name %></span> </p></td>
			<td><p class="listText"><span> <%= students.full_name %></span> </p></td>
		</tr>
		<% end %>
	</tbody>
</table>   <!-- end students table -->

<br><hr><br>

<!-- This section lists all Teachers -->
<h3>2) All teachers
	<small>
		 - there <%= @teachers.count == 1 ? 'is' : 'are' %> 
				<%= pluralize(@teachers.count, "teacher") %> at <%= @school.full_name %> 
	</small>
</h3>
<table class="table table-striped table-hover table-responsive teachers-table">
 	<thead>
 		<tr>
 			<th>Teacher Icon</th>
			<th>Teacher ID</th>
			<th>Full Name</th>
			<th>Contact Information</th>
			<th>Last Login</th>
	</tr>
	</thead>
	<tbody>
		<% @teachers.each do |teacher| %>
			<tr data-link="<%= edit_teacher_path(teacher.id) %>">
				<td>
				  <div class="table-sq i-<%= teacher.color %>">                 <!--Generate Teacher Color-->
					  <i class="fa fa-lg fa-fw fa-<%= teacher.icon %> table-icon"></i>  <!--Generate Teacher Icon-->
				  </div>
				</td>	
				<td><p class="listText"><span> <%= teacher.screen_name %></span> </p></td>
				<td><p class="listText"><span> <%= teacher.full_name %></span> </p></td>
				<td><p class="listText"><span> <%= teacher.email %></span> </p></td>
				<td><p class="listText"><span> <%= teacher.last_login %></span> </p></td>
			</tr>
		<% end %>
	</tbody>
</table>   <!-- end teachers table -->

<br><hr><br>

<!-- This section lists all Squares -->
<h3>3) All squares
	<small>
		 - there <%= @squares.count == 1 ? 'is' : 'are' %> 
				<%= pluralize(@squares.count, "behavior square") %> at <%= @school.full_name %>
	</small>
</h3>
<table class="table table-striped table-hover table-responsive teachers-table">
 	<thead>
 		<tr>
 			<th>Square Icon</th>
			<th>Square ID</th>
			<th>Square Name</th>
			<th>Type</th>
			<th>Description</th>
		</tr>
	</thead>
	<tbody>
		<% @squares.each do |square| %>
			<tr data-link="<%= edit_square_path(square.id) %>">
				<td>
					<div class="table-sq i-<%= square.color %>">
						<span class="fa fa-2x fa-fw fa-square-o teacher-icon"></span>
					</div>
				</td>	
				<td><p class="listText"><span> <%= square.screen_name %></span> </p></td>
				<td><p class="listText"><span> <%= square.full_name %></span> </p></td>

				<!-- If statement for translating square type int into string KM-->
				<td>
					<% if square.tracking_type == 1 %>
						<p class="listText">Duration</p>
					<% elsif square.tracking_type == 2 %>
						<p class="listText">Frequency</p>
					<% else %>
						<p class="listText">Interval</p>
					<% end %>
				</td>
				<td><p class="listText"><span> <%= square.description %></span> </p></td>
			</tr>
		<% end %>
	</tbody>
</table>   <!-- end square table -->

	</div>   <!-- col -->
</div>   <!-- row -->
