<!-- Authors: Kevin M, Tommy B -->
<% provide(:title, "Change password") %>

<div class="page-header cap17-header vertical-align">
	<div class="col-xs-11">
		<h2>Change Password<small> - change password for teacher <%= @teacher.full_name %></small></h2>
	</div>
	<%= render 'layouts/current_teacher_icon' %>
</div>

<!-- Main Content -->
<div class="row">
	<div class="col-xs-10 col-xs-offset-1">
		<%= form_for(@teacher) do |f| %>
  		<% if @teacher.errors.any? %>
		    <div id="error_explanation">
    			<div class="alert alert-danger">
      			<%= pluralize(@teacher.errors.count, "error") %> prohibited this teacher from being saved:
      		</div>
	      	<ul>
	      		<% @teacher.errors.full_messages.each do |message| %>
	        		<li><%= message %></li>
	      		<% end %>
	      	</ul>
	    	</div>
  		<% end %>
	
			<!-- Existing password -->
			<div class="row form-row">
				<div class="col-xs-offset-1 col-xs-2"><h4>Current Password: </h4></div>
				<div class="col-xs-4 ">
					<%= f.password_field :current_password, class: 'form-control', id: 'currPass' %>
				</div>
			</div>
	
			<!-- New password -->
			<div class="row form-row">
				<div class="col-xs-offset-1 col-xs-2"><h4>New Password: </h4></div>
				<div class="col-xs-4 ">
					<%= f.password_field :password, class: 'form-control', id: 'newPass' %>
				</div>
			</div>
	
			<!-- New pass confirmation -->
			<div class="row form-row">
				<div class="col-xs-offset-1 col-xs-2"><h4>Confirm New Password: </h4></div>
				<div class="col-xs-4 ">
					<%= f.password_field :password_confirmation, class: 'form-control', id: 'confPass' %>
				</div>
			</div>
	
			<!-- OK/cancel buttons -->
			<div class="row action-buttons-row">
				<div class="col-xs-6 col-xs-offset-1 text-center"> 
					<%= button_tag(type: 'submit', class: "btn btn-success") do %>Change Password <%end%>
					&nbsp; &nbsp; &nbsp; 
					<%= link_to "Cancel", home_path, :class => "btn btn-danger" %>
				</div>
			</div>
		<% end %>

	</div>   <!-- col -->
</div>   <!-- row -->
