<!--Authors: Kevin M, Tommy B (add changing password implementation) -->
<% provide(:title, "Setup teacher") %>

<!-- page header -->
<%= render partial: 'teacher_page_header', 
			:locals => { 	:title => "Setup teacher", 
										:subtitle => "admin setup actions for teacher #{@teacher.full_name}"} %>

<%= form_for( @teacher) do |f| %>
	<%= render 'error_messages', object: f.object %>

<div class="row form-row2 navpanel-row">

	<!-- PROPERTIES navpanel-->
	<div class="col-xs-12 col-sm-6 col-md-4 navpanel-col">
		<div class="panel panel-default navpanel">
		  <div class="panel-heading">
		    <h3 class="panel-title navpanel-title"><span class="fa fa-lg fa-fw fa-edit navpanel-yelloworange"></span> Properties</h3>
		  </div>
		  <div class="panel-body navpanel-body">
		    <p>Review or edit teacher properties.</p>
		    <p class="text-right">
		    	<%= link_to 'edita', :class => "btn btn-lg btn-default navpanel-yelloworange-button" do %>
						Edit properties <i class="fa fa-fw fa-chevron-right"></i>
		    	<% end %>
		    </p>
		  </div>
		</div>   <!-- panel -->
	</div>

	<!-- ACCESS navpanel-->
	<div class="col-xs-12 col-sm-6 col-md-4 navpanel-col">
		<div class="panel panel-default navpanel">
			<div class="panel-heading">
				<h3 class="panel-title navpanel-title"><span class="fa fa-lg fa-fw fa-database navpanel-lightblue"></span> Access</h3>
			</div>
			<div class="panel-body navpanel-body">
		    <p>Define access to student data for this teacher.</p>
		    <p class="text-right">
		    	<%= link_to 'editb', :class => "btn btn-lg btn-default navpanel-lightblue-button" do %>
						Define access <i class="fa fa-fw fa-chevron-right"></i>
		    	<% end %>
		    </p>
		  </div>
		</div>   <!-- panel -->
	</div>

</div>   <!-- row -->

<div class="row form-row2 navpanel-row">

	<!-- PASSWORD navpanel -->
	<div class="col-xs-12 col-sm-6 col-md-4 navpanel-col">
		<div class="panel panel-default navpanel">
		  <div class="panel-heading">
		    <h3 class="panel-title navpanel-title"><span class="fa fa-lg fa-fw fa-lock navpanel-blue"></span> Password</h3>
		  </div>
		  <div class="panel-body navpanel-body">
		    <p>Change this teacher's password.</p>
		    <p class="text-right">
		    	<%= link_to 'editc', class: 'btn btn-lg btn-default navpanel-blue-button' do %>
		    		Change password <span class="fa fa-fw fa-chevron-right"></span>
		    	<% end %>
		    </p>
		  </div>
		</div>   <!-- panel -->
	</div>

	<!-- SUSPEND navpanel -->
	<div class="col-xs-12 col-sm-6 col-md-4 navpanel-col">
		<div class="panel panel-default navpanel">
		  <div class="panel-heading">
		    <h3 class="panel-title navpanel-title"><span class="fa fa-lg fa-fw fa-bomb navpanel-darkgray"></span> Login</h3>
		  </div>
		  <div class="panel-body navpanel-body">
		    <p>Suspend or restore the login status of this teacher's GeoGem account.</p>
		    <p class="text-right">
		    	<%= link_to 'editd', class: 'btn btn-lg btn-default navpanel-darkgray-button' do %>
		    		Set login status <span class="fa fa-fw fa-chevron-right"></span>
		    	<% end %>
		    </p>
		  </div>
		</div>   <!-- panel -->
	</div>

</div>   <!-- row -->

<% end %>
