<% provide(:title, "Login status") %>

<!-- page header -->
<%= render partial: 'teacher_page_header', 
			:locals => { 	:title => "Login status", 
										:subtitle => "suspend or restore the login of teacher #{ @teacher.full_name }"} %>

<!--Edit Login Settings form -->
<%= form_for(@teacher) do |f| %>
	<%= render 'error_messages', object: f.object %>

<div class="row form-row2">

	<!-- teacher name -->
	<div class="col-xs-10 col-md-8 form-group">
		<label>Name</label>
		<%= f.text_field :full_name, :readonly => true, class: 'form-control form-input-tweak' %>
	</div>

	<!-- login username -->
	<div class="col-xs-10 col-md-8 form-group">
		<label>Login Username</label>
   	<%= f.text_field :user_name, :readonly => true, class: 'form-control form-input-tweak' %>
	</div>

</div>   <!-- row -->

<div class="form-spacer"></div>

<div class="row form-row2">
	<!-- is teacher login suspended? -->
	<div class="col-xs-10 col-md-8 form-group">
		<label>Login Status &nbsp; </label>
		<span class="checkbox" style="padding-left: 40px;">
			<%= f.label :suspended do %>
				<%= f.check_box :suspended, { }, "true", "false" %>&nbsp; Suspended
			<% end %>
		</span>
	</div>
</div>

<!-- OK, Cancel buttons -->
<div class="row form-row2 pad20"> 
	<div class="col-xs-10">
		<%= button_tag(type: 'submit', class: "btn btn-lg btn-success", name: 'editd') do %>  
			Change Login Status 
		<% end %>
		&nbsp; &nbsp; &nbsp;
		<%= link_to 'Cancel', edit_teacher_path, 
					:class => "btn btn-lg btn-danger", :title => "Back to Setup teacher page" %>
	</div>
</div>

<% end %>
