<% provide(:title, "Login status") %>

<!-- page header -->
<%= render partial: 'teacher_page_header', 
			:locals => { 	:title => "Login status", 
										:subtitle => "suspend or restore the login of teacher #{ @teacher.full_name }"} %>

<!--Edit Login Settings form -->
<%= form_for(@teacher) do |f| %>
	<%= render 'error_messages', object: f.object %>

<div class="row form-row2">

	<!-- login username -->
	<div class="col-xs-10 col-md-8 form-group">
		<label>Username <small>(for login)</small></label>
   	<%= f.text_field :user_name, :readonly => true, class: 'form-control form-input-tweak' %>
	</div>
</div>   <!-- row -->

<div class="row form-row2 pad20">
	<div class="col-xs-10">
		<% if teacher_is_suspended?( @teacher) %>
			<h4>For teacher <%= @teacher.full_name %>, login is currently <span style="color:red;">suspended!</span></h4>
			<!-- OK, Cancel buttons -->
			<div class="row form-row2 pad20"> 
				<div class="col-xs-10">
					<%= button_tag(type: 'submit', class: "btn btn-lg btn-success", name: 'editd_restore') do %>  
						Restore login 
					<% end %>
				</div>
			</div>
		<% else %>
			<h4>For teacher <%= @teacher.full_name %>, login is currently OK/active.</h4>
			<!-- OK, Cancel buttons -->
			<div class="row form-row2 pad20"> 
				<div class="col-xs-10">
					<%= button_tag(type: 'submit', class: "btn btn-lg btn-danger", name: 'editd_suspend') do %>  
						Suspend login 
					<% end %>
				</div>
			</div>
		<% end %>
	</div>
</div>

<% end %>

<div class="form-spacer">	&nbsp;</div>

<!-- BACK TO SETUP TEACHER button -->
<div class="row form-row2 pad40">
	<div class="col-xs-10">
		<p>
			<%= link_to edit_teacher_path(@teacher), class: 'btn btn-lg btn-default navpanel-darkgray-button' do %>
		  	<span class="fa fa-fw fa-chevron-left"></span> Back to Setup teacher
		  <% end %>
		</p>
	</div>
</div>   <!-- row -->
