<!-- Author: Kevin M -->
<% provide(:title, "All teachers") %>

<!-- page header -->
<%= render partial: 'schools/school_page_header', 
			:locals => { 	:title => "All teachers", 
										:subtitle => "view/manage all teachers at #{ @school.full_name }"} %>

<!-- Start with teacher info and the New Teacher button -->
<div class="row form-row2 pad20">
	<div class="col-xs-8">
		<h4>
			There <%= @teachers.count == 1 ? 'is' : 'are' %> <%= pluralize(@teachers.count, "teacher") %> 
			at <%= @school.full_name %>.
		</h4>
	</div>
	<div class="col-xs-4">
		<%= button_to new_teacher_path, method: :get, class: 'btn btn-lg btn-success pull-right' do %>
  		<span class="fa fa-fw fa-lg fa-plus-square-o"></span> New teacher
		<% end %>
	</div>
</div>   <!-- row -->

<!-- All teachers display table -->
<div class="row form-row2 pad20">
	<div class="col-xs-12">

<br>
<table class="table table-striped table-hover table-responsive table-font1">
	<thead>
		<tr>
			<th class="col-xs-1">Icon</th>

			<th>Name</th>
			<th>Login Username</th>
			<th>Powers</th>
			<th>Last Login (Status)</th>
		</tr>
	</thead>
	
	<tbody>
			<% @teachers.each do |teacher| %>
				<tr data-link=<%= edit_teacher_path(teacher.id) %>>
					<!-- teacher icon -->
					<td>
						<div class="teacher-table-icon <%= icon_color(teacher) %>" title="teacher=<%= teacher.user_name %>">
							<span class="fa fa-lg fa-fw <%= fa_icon(teacher) %> "></span>
						</div>
					</td>

					<td> <%= ux_teacher_name(teacher, 40) %> </td>

					<td> <%= ux_teacher_username(teacher, 40) %> </td>

					<td> <%= ux_teacher_powers(teacher) %> </td>

					<td> <%= ux_teacher_last_login( teacher) %> </td> 
				</tr>

			<% end %>
	</tbody>
</table>
<%= will_paginate %>

<div class="text-center" style="font-family: 'Courier New';">
	<i>(*log) means currently logged in; (*sus) means suspended!</i>
</div>


	</div>   <!-- col -->
</div>  <!-- row -->
