<% provide(:title, "Login settings") %>

<div class="page-header vertical-align geogem-page-header">
	<div class="col-xs-11">
		<h2>Login Settings<small> - edit login settings for Teacher <%= @teacher.user_name %></small></h2>
	</div>
	<%= render 'layouts/current_teacher_icon' %>
</div>

	<!--Edit Login Settings form -->
<%= form_for(@teacher) do |f| %>
	<form class="form-horizontal">
		<%= render 'layouts/flash' %>
		<% if @teacher.errors.any? %>
    	  <div id="error_explanation">
          <div class="alert alert-danger">
      		<%= pluralize(@teacher.errors.count, "error") %> prohibited this teacher from being saved:
      	  </div>
          <ul>
          <% @teacher.errors.full_messages.each do |message| %>
          <li><%= message %></li>
          <% end %>
          </ul>
          </div>
		<% end %>
		
	 	<!-- Teacher ID -->
	 	<div class="row form-row">
			<div class="col-xs-2 col-xs-offset-1"><h4> Teacher ID: </h4></div>
			<div class="col-xs-2">
				<%= f.text_field :user_name, class: 'form-control', id: 'teacherID', :readonly => true %>
			</div>
		</div>
	
		<!-- Teacher name -->
		<div class="row form-row">
   		<div class="col-xs-1 col-xs-offset-1"><h4>Name: </h4></div>
   			<div class="col-xs-4 col-xs-offset-1">
				<%= f.text_field :full_name, class: 'form-control', id: 'teacherID', :readonly => true %>
			</div>
		</div>   <!-- row -->

		<!-- a little extra space after name/email -->
		<div class="form-spacer">	&nbsp;</div>
		<hr width="80%">
		<div class="form-spacer">	&nbsp;</div>

		<!-- Teacher powers -->
		<div class="row form-row">
			<div class="col-xs-2 col-xs-offset-1"><h4>Teacher powers: </h4></div>
			<div class="col-xs-4">
				<%= f.select :powers, ["SessionOnly", "Teacher", "Admin"], 
			class: 'form-control'%>
			</div>
 		</div>

		<!-- Teacher login suspended? -->
		<div class="row form-row">
			<div class="col-xs-2 col-xs-offset-1"><h4>Login status: </h4></div>
			<div class="checkbox">
				<%= f.label :suspended do %>
  					<%= f.check_box :suspended, {}, "true", "false" %>
  					Suspended
				<% end %>
			</div>
		</div>

		<!-- OK, Cancel buttons -->
		<div class="row "> 
			<div class="col-xs-4 col-xs-offset-2 text-center">
				<%= button_tag(type: 'submit', class: "btn btn-success") do %>  
	  			Change Settings 
	  		<% end %>
				&nbsp; &nbsp; &nbsp;
				<%= link_to 'Cancel', edit_teacher_path, :class => "btn btn-danger" %>
			</div>
		</div>
	</form>   <!-- settings form -->
<% end %>


<!-- a little extra space after name/email -->
<div class="form-spacer">	&nbsp;</div>
<hr width="80%">
<div class="form-spacer">	&nbsp;</div>


<!-- Change Password form -->
<%= form_for(@teacher) do |f| %>
	<form class="form-horizontal">
		
		<!-- new password -->
	  <div class="row form-row">
		  <label class="col-xs-2 col-xs-offset-1" for="newPass"><h4>New Password:</h4></label>
			<div class="col-sm-4"> 
			  <%= f.password_field :password, class: 'form-control', id: 'newPass' %>
			</div>
	  </div>
		
		<!-- confirm new password -->
	  <div class="row form-row">
		  <label class="col-xs-2 col-xs-offset-1" for="confPass"><h4>Confirm New Password:</h4></label>
			<div class="col-sm-4"> 
			  <%= f.password_field :password_confirmation, class: 'form-control', id: 'confPass' %>
			</div>
	  </div>
		
		<!-- OK, Cancel buttons -->
		<div class="row "> 
			<div class="col-xs-4 col-xs-offset-2 text-center">
				<%= button_tag(type: 'submit', class: "btn btn-success") do %>Change Password <%end%>
				&nbsp; &nbsp; &nbsp;
				<%= link_to "Cancel", edit_teacher_path, :class => "btn btn-danger" %>
			</div>
		</div>
	</form>
<% end %> <!-- change password form-->

	</div>   <!-- col -->
</div><!--End row-->
