<!-- Authors: Kevin M, Tommy B -->
<% provide(:title, "Change password") %>

<!-- page header -->
<%= render partial: 'teacher_page_header', 
			:locals => { 	:title => "Change password", 
										:subtitle => "change your password"} %>

<!-- change password form -->
<%= form_for(@teacher, url: password_path) do |f| %>
	<%= render 'error_messages', object: f.object %>

  <div class="row form-row2 pad20">

		<!-- current password field -->
    <div class="col-xs-10 col-md-6  form-group">
      <label for="currentField">Current Password</label>
      	<%= f.password_field :current_password, required: true, 
      				class: 'form-control form-input-tweak' %>
    </div>
    <div class="col-xs-2 text-left pad20" >
			<span class="fa fa-fw fa-2x fa-question-circle color-scheme-blue"
						data-toggle="popover" data-trigger="click" data-placement="bottom"
						data-container="body"
						data-content="If you've forgotten your password, contact your school's GeoGem Admin user."></span>
		</div>

		<div class="clearfix"></div>

		<!-- new password field -->
		<div class="col-xs-10 col-md-6  form-group">
      <label for="newField">New Password</label>
      	<%= f.password_field :password, required: true, 
      				class: 'form-control form-input-tweak' %>
    </div>
    <div class="col-xs-2 text-left pad20" >
			<span class="fa fa-fw fa-2x fa-question-circle color-scheme-blue"
						data-toggle="popover" data-trigger="click" data-placement="bottom"
						data-container="body"
						data-content="Your password must have 6 characters or more."></span>
		</div>

		<div class="clearfix"></div>

		<!-- confirm new password field -->
		<div class="col-xs-10 col-md-6  form-group">
      <label for="newField">Confirm New Password</label>
      	<%= f.password_field :password_confirmation, required: true, 
      				class: 'form-control form-input-tweak' %>
    </div>

	</div>   <!-- row -->

	<!-- OK/cancel buttons -->
	<div class="row form-row2 pad40">
		<div class="col-xs-10"> 
			<%= button_tag(type: 'submit', class: "btn btn-lg btn-success") do %>Change Password <%end%>
			&nbsp; &nbsp; &nbsp; 
			<%= link_to "Cancel", profile_path, 
						:class => "btn btn-lg btn-danger", :title => "back to Profile page" %>
		</div>
	</div>   <!-- row -->

<% end %>
