<!-- Authors: Kevin M, Tommy B -->
<% provide(:title, "Change password") %>

<!-- page header -->
<%= render partial: 'teacher_page_header', 
			:locals => { 	:title => "Change password", 
										:subtitle => "change your password"} %>

<!-- change password form -->
<%= form_for(@teacher, url: password_path) do |f| %>
	<%= render 'error_messages', object: f.object %>

	<!-- enter current password -->
	<div class="row form-row">
		<div class="col-xs-3 col-xs-offset-1"><h4>Current Password: </h4></div>
		<div class="col-xs-4 ">
				<%= f.password_field :current_password, required: true, class: 'form-control' %>
		</div>
	</div>   <!-- row -->

	<!-- new password -->
	<div class="row form-row">
		<div class="col-xs-3 col-xs-offset-1"><h4>New Password: </h4></div>
		<div class="col-xs-4 ">
			<%= f.password_field :password, required: true, class: 'form-control' %>
		</div>
	</div>   <!-- row -->

	<!-- confirmation of new password -->
	<div class="row form-row">
		<div class="col-xs-3 col-xs-offset-1"><h4>Confirm New Password: </h4></div>
		<div class="col-xs-4 ">
			<%= f.password_field :password_confirmation, required: true, class: 'form-control' %>
		</div>
	</div>   <!-- row -->

	<!-- OK/cancel buttons -->
	<div class="row action-buttons-row">
		<div class="col-xs-6 col-xs-offset-1 text-center"> 
			<%= button_tag(type: 'submit', class: "btn btn-success") do %>Change Password <%end%>
			&nbsp; &nbsp; &nbsp; 
			<%= link_to "Cancel", profile_path, 
						:class => "btn btn-danger", :title => "back to Profile page" %>
		</div>
	</div>   <!-- row -->

<% end %>
