<!--Authors: Kevin M, Tommy B (add changing password implementation) -->
<% provide(:title, "Profile") %>

<!-- page header -->
<%= render partial: 'teacher_page_header', 
			:locals => { 	:title => "Profile", 
										:subtitle => "edit your teacher profile"} %>

<%= form_for(@teacher, url: profile_path) do |f| %>
	<%= render 'error_messages', object: f.object %>

	<!-- username -->
	<div class="row form-row2">

		<div class="col-xs-10 col-md-6 col-lg-4 form-group">
			<label for="studentField">Login Username</label>
			<input type="text" class="form-control form-input-tweak" id="usernameField" 
						readonly="readonly" value="<%= @teacher.user_name %>">
		</div>

		<div class="col-xs-10 col-md-6 col-lg-4 form-group">
			<label for="teacherField">Name</label>
			<input type="text" class="form-control form-input-tweak" id="nameField" 
						readonly="readonly" value="<%= @teacher.full_name %>">
		</div>

	</div>

	<div class="form-spacer"></div>

	<!-- teacher icon includes color, icon choice, and interactive sample -->
	<div class="row form-row2">
		
		<!-- color and icon spinners in the 1st column -->
		<div class="col-xs-5 form-group">

			<div class="row">
				<div class="col-xs-12">
					<label for="colorField">Color</label>
					<%= f.select :color, teacherColors.map {|color| [color.titleize, color]}, 
								{}, {class: 'form-control form-input-tweak'} %>
				</div>

				<div class="col-xs-12 pad20">
					<label for="iconField">Icon</label>
					<%= f.select :icon, teacherIcons.map {|icon| [icon.titleize, icon]}, 
								{}, {class: 'form-control'} %>
				</div>
			</div>

		</div>   <!-- first col -->

		<!-- sample teacher icon in the 2nd column; it's interactive! -->
		<div class="col-xs-5 col-xs-offset-1 pad40">
			<div id="sample-teacher-color" class="teacher-icon <%= icon_color(@teacher) %>" 
								title="teacher=<%= @teacher.full_name %>" >
				<span id="sample-teacher-icon" class="fa fa-3x fa-fw <%= fa_icon(@teacher) %> "></span>
			</div>
		</div>   <!-- second col -->

	</div>   <!-- color+icon row -->


	<div class="form-spacer">	&nbsp;</div>


	<div class="row form-row2">
			<!-- email -->
		<div class="col-xs-10 col-md-6 col-lg-4 form-group">
			<label for="emailField">Email</label>
			<%= f.email_field :email, required: true, class: 'form-control form-input-tweak' %>
		</div>

		<div class="clearfix"></div>

		<!-- extra teacher info (optional) --> 
		<div class="col-xs-10 form-group">
			<label for="infoField">Teacher Info <small>(optional)</small></label>
			<%= f.text_area :description, class: "form-control form-input-tweak info-textarea" %>
		</div>
	</div>

	<!-- OK/Cancel buttons -->
	<div class="row form-row  pad40">
		<div class="col-xs-6 col-xs-offset-1 text-center">
		  <%= button_tag(type: 'submit', class: "btn btn-success") do %>Change Profile<% end %>
		  &emsp; &emsp; &emsp;
			<%= link_to "Cancel", home_path, 
						:class => "btn btn-danger", :title => "back to Home page" %>
		</div>
	</div>

<% end %>

<hr class="form-spacer-line">

<!-- action button to Login Settings page -->
<div class="row">
	<div class="col-xs-10 col-xs-offset-1">
		<h4>Continue here to change your password: &nbsp; &nbsp; &nbsp;
			<%= link_to "Change password...", 'password', 
						:class => "btn btn-lg btn-primary", :title => "Change password page" %>
		</h4>
	</div>
</row>


<!-- 
	Javascript below is specifically for this Teacher Profile page.
	It makes the sample teacher icon change interactively with color or icon spinner.
	CSS ID's make this (spaghetti code) work: 
		#teacher_color - the Rails-created ID for the color spinner
		#teacher_icon - the Rails-created ID for the icon spinner
		#sample-teacher-color - div where sample icon color is set
		#sample-teacher-icon - div where sample FA icon is set
-->
<script>
	$(document).ready(function() {
		$('#teacher_color').change(function(){
			setColor();
		});
		$('#teacher_icon').change(function(){
			setIcon();
		});
	});

	function setColor() {
		var color =  $('#teacher_color').find('option:selected').attr('value');
		$('#sample-teacher-color').removeClass();
		$('#sample-teacher-color').addClass('teacher-icon');
		$('#sample-teacher-color').addClass('i-' + color);
	}
	function setIcon() {
		var icon =  $('#teacher_icon').find('option:selected').attr('value');
		$('#sample-teacher-icon').removeClass();
		$('#sample-teacher-icon').addClass('fa fa-3x fa-fw');
		$('#sample-teacher-icon').addClass('fa-' + icon);
	}
</script>
