<!-- Adapted for use by Dakota B -->
<% provide(:title, "Super report") %>

<!-- page header -->
<%= render partial: 'teachers/super_page_header', 
			:locals => { 	:title => "Super Report", 
										:description => "stats and more about all of GeoGem"} %>

<!-- content, just some basic statistics -->
<div class="row content-text">
	<h4>
		Welcome to GeoGem <%= DeployHelper.geogem_version =%>
		<br><br><br>
		<!-- Shows the total number of records present in Schools, teachers, students, squares and sessions. -->
		There are currently <%=Teacher.count%> Teachers, helping to promote the education <%=Student.count%> students, across <%=School.count%> schools.
		<br><br><br>
		These <%=Teacher.count%> teachers have observed <%=Square.count%> behavior Squares, and maintained <%=Session.count%> Sessions since <%= DeployHelper.geogem_deploy_date =%>
		<br><br><br><br>
	</h4>
</div>
