<!-- Authors: UX team; Robert Herrera and Dakota B -->
<% provide(:title, "Super dashboard") %>

<!-- page header -->
<%= render partial: 'super_page_header', 
			:locals => { 	:title => "Super dashboard", 
										:subtitle => "exercise your GeoGem superpowers, #{ super_teacher.full_name }" } %>

<div class="row">
	<div class="col-xs-5 col-xs-offset-1">
		<h4>Focus school</h4>
	</div>
</div>

<!-- spinner to allow Super to change focus school -->
<div class="row first-content-row">
	<div class="col-xs-2 col-xs-offset-2 text-center" title="school=<%= @school.full_name %>">
		<div class ="action-sq i-<%= @school.color %> center-block">
			<%= link_to edit_school_path(@school.id) do %>
				<span class="fa fa-3x fa-fw fa-home action-icon"></span>
			<% end %>
		</div>
		<%= link_to edit_school_path(@school.id) do %>
			<%= truncate @school.full_name, length: 18 %>
		<% end %>
	</div>

	<div class="col-xs-5 text-center" style="margin-top:10px;">
		<%= form_for( @teacher, :url => { :action => :update_super_focus }) do |f| %>
    <div class="row vertical-align">
    	<div class="form-group">
    		<div class="col-xs-5" style="text-align:right;">
	    		<label class="control-label">School:</label>
	    	</div>
	    	<div class="col-xs-7">
	    		<%= f.select :school_id, @schools.map{|c| [c.full_name, c.id]}, class: 'form-control'%>
    		</div>
     	</div>   <!-- form group-->
    </div>   <!-- row -->

    <div class="row">
    	<div class="col-xs-8 col-xs-offset-3">
				<%= button_tag(type: 'submit', class: "btn btn-success") do %>Change Focus School<% end %>
			</div>
    </div>
    <% end %>

	</div>   <!-- col -->
</div>  <!-- row -->

<br>
<div class="row first-content-row">
	<div class="col-xs-5 col-xs-offset-1">
			<h4>Super powers</h4>
	</div>
</div>

<!-- first row of action icons -->
<div class="row first-content-row" >

	<!-- All schools icon -->
	<div class="col-xs-2 col-xs-offset-2 text-center" title="View/edit schools">
		<div class ="action-sq i-action-gray1 center-block">
			<%= link_to schools_path do %>
				<span class="fa fa-3x fa-fw fa-home action-icon"></span>
			<% end %>
		</div>
		<%= link_to schools_path do %>All schools<% end %>
	</div>

	<!-- Super report icon -->
	<div class="col-xs-2 text-center" title="GeoGem stats for Super">
		<div class ="action-sq i-action-gray2 center-block">
			<%= link_to super_report_path do %>
				<span class="fa fa-3x fa-fw fa-file-text action-icon"></span>
			<% end %>
		</div>
		<%= link_to super_report_path do %>Super report<% end %>
	</div>
</div>   <!-- first row of icons -->

<!-- action icons, row 2 -->
<div class="row action-icon-row" >
	<!-- Backup school icon -->
	<div class="col-xs-2 col-xs-offset-2 text-center" title="Backup data of Super focus school">
		<div class ="action-sq i-action-gray3 center-block">
			<%= link_to school_backup_path do %>
				<span class="fa fa-3x fa-fw fa-floppy-o action-icon"></span>
			<% end %>
		</div>
		<%= link_to school_backup_path do %>Backup school<% end %>
	</div>

	<!-- Suspend school icon -->
	<div class="col-xs-2 text-center" title="Suspend all teachers at Super focus school">
		<div class ="action-sq i-action-gray4 center-block">
			<%= link_to school_suspend_path do %>
				<span class="fa fa-3x fa-fw fa-bomb action-icon"></span>
			<% end %>
		</div>
		<%= link_to school_suspend_path do %>Suspend school<% end %>
	</div>

	<!-- Retore school icon -->
	<div class="col-xs-2 text-center" title="Restore teacher logins at Super focus school">
		<div class ="action-sq i-action-gray5 center-block">
			<%= link_to school_restore_path do %>
				<span class="fa fa-3x fa-fw fa-undo action-icon"></span>
			<% end %>
		</div>
		<%= link_to school_restore_path do %>Restore school<% end %>
	</div>
</div>   <!-- 2nd row of icons -->
