<!-- Authors: UX team; Robert Herrera and Dakota B -->
<% provide(:title, "Super dashboard") %>

<!-- page header -->
<%= render partial: 'super_page_header', 
			:locals => { 	:title => "Super dashboard", 
										:subtitle => "exercise your GeoGem superpowers, #{ super_teacher.full_name }" } %>

<div class="row form-row2">
	<div class="col-xs-10">
		<h3>Focus school<small> - change the super user's secret identity</small></h3>
	</div>
</div>

<!-- spinner to allow Super to change focus school -->
<%= form_for( @teacher, :url => { :action => :update_super_focus }) do |f| %>

	<div class="row form-row2 pad20">

		<div class="col-xs-6 col-xs-offset-1">
			<label>School</label>
			<%= f.select :school_id, 
	    			@schools.order('full_name ASC').map{|c| [c.full_name, c.id]}, 
	    			{ }, { :class => 'form-control', :style => "min-width: 240px;" } %>
		</div>
		<div class="clearfix"></div>
		<div class="col-xs-6 text-center pad20">
			<%= button_tag(type: 'submit', class: "btn btn-success") do %>Change focus school<% end %>
		</div>

	</div>   <!-- row -->

<% end %>   <!-- focus school spinner -->

<div class="row form-row2 navpanel-row pad40">

	<!-- PROPERTIES - edit school properties -->
	<div class="col-xs-12 col-xs-offset-1 col-sm-6 col-md-4 navpanel-col">
		<div class="panel panel-default navpanel">
		  <div class="panel-heading">
		    <h3 class="panel-title navpanel-title">
		    	<span class="fa fa-lg fa-fw <%= fa_icon(@school) %> <%= ux_color_of(@school) %>" ></span> Properties
		    </h3>
		  </div>
		  <div class="panel-body navpanel-body">
		    <p>Review/edit your school's properties.</p>
		    <p class="text-right">
		    	<%= link_to edit_school_path(@school.id), :class => "btn btn-lg btn-default navpanel-gray-button" do %>
						<span class="<%= ux_color_of(@school) %>">Edit properties <i class="fa fa-fw fa-chevron-right"></i></span>
		    	<% end %>
		    </p>
		  </div>
		</div>   <!-- panel -->
	</div>

	<!-- SUSPEND school navpanel -->
	<div class="col-xs-12 col-sm-6 col-md-4 navpanel-col">
		<div class="panel panel-default navpanel">
		  <div class="panel-heading">
		    <h3 class="panel-title navpanel-title"><span class="fa fa-lg fa-fw fa-bomb navpanel-darkgray"></span> Suspend</h3>
		  </div>
		  <div class="panel-body navpanel-body">
		    <p>Use super powers to suspend the focus school. This disables login of all teachers at the school.</p>
		    <p class="text-right">
		    	<%= link_to suspend_school_path, class: 'btn btn-lg btn-default navpanel-darkgray-button' do %>
		    		Suspend school <span class="fa fa-fw fa-chevron-right"></span>
		    	<% end %>
		    </p>
		  </div>
		</div>   <!-- panel -->
	</div>

</div>   <!-- row -->

<div class="row form-row2 navpanel-row">

	<!-- BACKUP school data to a text file -->
	<div class="col-xs-12 col-xs-offset-1 col-sm-6 col-md-4 navpanel-col">
		<div class="panel panel-default navpanel">
		  <div class="panel-heading">
		    <h3 class="panel-title navpanel-title"><span class="fa fa-lg fa-fw fa-floppy-o navpanel-lightblue"></span> Backup</h3>
		  </div>
		  <div class="panel-body navpanel-body">
		    <p>Backup school data to a text file.</p>
		    <p class="text-right">
		    	<%= link_to backup_school_path, :class => "btn btn-lg btn-default navpanel-lightblue-button" do %>
						Backup school <i class="fa fa-fw fa-chevron-right"></i>
		    	<% end %>
		    </p>
		  </div>
		</div>   <!-- panel -->
	</div>

	<!-- RESTORE school data from a text file -->
	<div class="col-xs-12 col-sm-6 col-md-4 navpanel-col">
		<div class="panel panel-default navpanel">
		  <div class="panel-heading">
		    <h3 class="panel-title navpanel-title"><span class="fa fa-lg fa-fw fa-undo navpanel-yelloworange"></span> Restore</h3>
		  </div>
		  <div class="panel-body navpanel-body">
		    <p>Restore school data from a text file.</p>
		    <p class="text-right">
		    	<%= link_to restore_school_path, class: 'btn btn-lg btn-default navpanel-yelloworange-button' do %>
		    		Restore school <span class="fa fa-fw fa-chevron-right"></span>
		    	<% end %>
		    </p>
		  </div>
		</div>   <!-- panel -->
	</div>

</div>   <!-- row -->

<hr class="form-spacer-line"></hr>

<!-- Super powers icons are first: all schools and super report -->
<div class="row form-row2">
	<div class="col-xs-10">
		<h3>Super powers<small> - actions available only to the super user</small></h3>
	</div>
</div>

<div class="row form-row2 navpanel-row">

	<!-- ALL SCHOOLS lists all schools in GeoGem -->
	<div class="col-xs-12 col-xs-offset-1 col-sm-6 col-md-4 navpanel-col">
		<div class="panel panel-default navpanel">
		  <div class="panel-heading">
		    <h3 class="panel-title navpanel-title"><span class="fa fa-lg fa-fw fa-home navpanel-blue"></span> All schools</h3>
		  </div>
		  <div class="panel-body navpanel-body">
		    <p>List all schools in GeoGem. Select a school to edit its properties. Create a new school in GeoGem.</p>
		    <p class="text-right">
		    	<%= link_to schools_path, :class => "btn btn-lg btn-default navpanel-blue-button" do %>
						All schools <i class="fa fa-fw fa-chevron-right"></i>
		    	<% end %>
		    </p>
		  </div>
		</div>   <!-- panel -->
	</div>

	<!-- SUPER REPORT basic report on GeoGem for the super user -->
	<div class="col-xs-12 col-sm-6 col-md-4 navpanel-col">
		<div class="panel panel-default navpanel">
		  <div class="panel-heading">
		    <h3 class="panel-title navpanel-title"><span class="fa fa-lg fa-fw fa-file-text navpanel-gray"></span> Report</h3>
		  </div>
		  <div class="panel-body navpanel-body">
		    <p>Show some basic GeoGem stats in a report for the super user.</p>
		    <p class="text-right">
		    	<%= link_to super_report_path, class: 'btn btn-lg btn-default navpanel-gray-button' do %>
		    		Super report <span class="fa fa-fw fa-chevron-right"></span>
		    	<% end %>
		    </p>
		  </div>
		</div>   <!-- panel -->
	</div>

</div>   <!-- row -->
