<!-- Authors: UX team; Robert Herrera and Dakota B -->
<% provide(:title, "Super dashboard") %>

<!-- page header -->
<%= render partial: 'super_page_header', 
			:locals => { 	:title => "Super dashboard", 
										:subtitle => "exercise your GeoGem superpowers, #{ super_teacher.full_name }" } %>

<div class="row">
	<div class="col-xs-5 col-xs-offset-1">
		<h4>Focus school - <small>the super user's secret identity</small></h4>
	</div>
</div>

<!-- spinner to allow Super to change focus school -->
<%= form_for( @teacher, :url => { :action => :update_super_focus }) do |f| %>

	<div class="row pad20 vertical-align form-group">
		<div class="col-xs-3 form-group text-right">
   		<label class="control-label">School:</label>
   	</div>
   	<div class="col-xs-3 form-group">
	  	<%= f.select :school_id, 
	    			@schools.order('full_name ASC').map{|c| [c.full_name, c.id]}, 
	    			{ }, { :class => 'form-control', :style => "min-width: 240px;" } %>
		</div>
		<div class="col-xs-4 form-group">
			<%= button_tag(type: 'submit', class: "btn btn-success") do %>Change focus school<% end %>
		</div>
	</div>

<% end %>   <!-- focus school spinner -->

<hr class="form-spacer-line"></hr>

<div class="row" >
	<!-- Edit school button, the focus school -->
	<div class="col-sm-6 col-md-4 col-md-offset-1 col-lg-3 col-lg-offset-2 text-center action-div">
		<%= link_to edit_school_path(@school.id) do %>
			<span class ="action-rectangle <%= glow_color(@school) %>" >
		  	<span class="fa fa-fw fa-lg <%= fa_icon(@school) %>"></span>
		  	&nbsp; Edit school
			</span>
		<% end %>
	</div>   <!-- col -->

	<!-- Backup school button -->
	<div class="col-sm-6 col-md-4 col-lg-3 col-md-offset-1 text-center action-div">
		<%= link_to school_backup_path do %>
			<%= render 'action_button', button_color: "glow-scheme-lightblue", 
						fa_icon: "fa-floppy-o", button_text: "Backup school" %>
		<% end %>
	</div>   <!-- col -->
</div>   <!-- 1st row of school buttons -->

<div class="row pad20" >
	<!-- Suspend school button -->
	<div class="col-sm-6 col-md-4 col-md-offset-1 col-lg-3 col-lg-offset-2 text-center action-div">
		<%= link_to school_suspend_path do %>
			<%= render 'action_button', button_color: "glow-scheme-darkgray", 
						fa_icon: "fa-bomb", button_text: "Suspend school" %>
		<% end %>
	</div>   <!-- col -->

	<!-- Restore school button -->
	<div class="col-sm-6 col-md-4 col-lg-3 col-md-offset-1 text-center action-div">
		<%= link_to school_restore_path do %>
			<%= render 'action_button', button_color: "glow-scheme-lighterblue", 
						fa_icon: "fa-undo", button_text: "Restore school" %>
		<% end %>
	</div>   <!-- col -->
</div>   <!-- 2nd row of school buttons -->

<!-- Super powers icons are first: all schools and super report -->
<div class="row pad40">
	<div class="col-xs-10 col-xs-offset-1">
		<br>
		<h4>Super powers - <small>only available to the super user</small></h4>
	</div>
</div>

<div class="row pad20" >
	<!-- All schools button -->
	<div class="col-sm-6 col-md-4 col-md-offset-1 col-lg-3 col-lg-offset-2 text-center action-div">
		<%= link_to schools_path do %>
			<%= render 'action_button', button_color: "glow-scheme-blue", 
						fa_icon: "fa-home", button_text: "All schools" %>
		<% end %>
	</div>   <!-- col -->

	<!-- Super report button -->
	<div class="col-sm-6 col-md-4 col-lg-3 col-md-offset-1 text-center action-div">
		<%= link_to super_report_path do %>
			<%= render 'action_button', button_color: "glow-scheme-gray", 
						fa_icon: "fa-file-text", button_text: "Super report" %>
		<% end %>
	</div>   <!-- col -->

</div>   <!-- super powers buttons -->
