<!-- Adapted for use by Dakota B -->
<% provide(:title, "Super report") %>

<!-- page header -->
<%= render partial: 'super_page_header', 
			:locals => { 	:title => "Super report", 
										:subtitle => "some super stats about GeoGem, #{ super_teacher.full_name }"} %>

<!-- content, just some basic statistics -->
<div class="row content-text">
	<div class="col-xs-10 col-xs-offset-1">
		<h3>Hello, Super</h3>
		<p>
			Welcome to GeoGem <%= DeployHelper.geogem_version =%>
		</p>
		<p>
			The system deploy date: <%= DeployHelper.geogem_deploy_date =%>
		</p>
		<br>

		<h3>Quick stats</h3>
		<p>
			<!-- Shows the total number of schools, teachers, students, squares and sessions. -->
			Some quick GeoGem stats:
		</p>
		<ul>
			<li><p>There <%= School.count == 1 ? 'is' : 'are' %> currently <%= pluralize(School.count, "school") %> </p></li>
			<li><p>And there <%= Teacher.count == 1 ? 'is' : 'are' %> <%= pluralize(Teacher.count, "teacher") %> </p></li>
			<li><p>Helping to promote the education of <%= pluralize(Student.count, "student") %> </p></li>
			<li><p>These <%= pluralize(Teacher.count, "teacher") %> have observed <%= pluralize(Square.count, "behavior square") %> </p></li>
			<li><p>There have been <%= pluralize(Session.count, "behavior session") %> since <%= DeployHelper.geogem_deploy_date =%></p></li>
		</ul>

		<br><br><br><br>

	</div>   <!-- col -->
</div>   <!-- row -->
