<!-- Authors: UX team; Robert Herrera and Dakota B -->
<% provide(:title, "Super dashboard") %>

<!-- page header -->
<%= render partial: 'super_page_header', 
			:locals => { 	:title => "Super dashboard", 
										:subtitle => "exercise your GeoGem superpowers, #{ super_teacher.full_name }" } %>

<div class="row">
	<div class="col-xs-5 col-xs-offset-1">
		<h4>Focus school</h4>
	</div>
</div>

<!-- spinner to allow Super to change focus school -->
<div class="row first-content-row">

	<!-- icon of the focus school -->
	<div class="col-xs-2 col-xs-offset-2 text-center" title="school=<%= @school.full_name %>">
		<div class="action-div">
			<%= link_to edit_school_path(@school.id) do %>
				<div class ="action-icon-square action-icon-neutral i-<%= @school.color %> center-block">
					<span class="fa fa-3x fa-fw fa-<%= @school.icon %> action-icon"></span>
				</div>
			<% end %>
		</div>
		<%= link_to edit_school_path(@school.id) do %>
			<%= truncate @school.full_name, length: 18 %>
		<% end %>
	</div>

	<!-- focus school spinner -->
	<div class="col-xs-5 text-center" style="margin-top:10px;">
		<%= form_for( @teacher, :url => { :action => :update_super_focus }) do |f| %>
    <div class="row vertical-align">
    	<div class="form-group">
    		<div class="col-xs-5" style="text-align:right;">
	    		<label class="control-label">School:</label>
	    	</div>
	    	<div class="col-xs-7">
	    		<%= f.select :school_id, @schools.map{|c| [c.full_name, c.id]}, {},
	    				{ :class => 'form-control', :style => "min-width: 240px;" } %>
    		</div>
     	</div>   <!-- form group-->
    </div>   <!-- row -->

    <div class="row">
    	<div class="col-xs-8 col-xs-offset-2">
				<%= button_tag(type: 'submit', class: "btn btn-success") do %>Change Focus School<% end %>
			</div>
    </div>
    <% end %>

	</div>   <!-- col -->
</div>  <!-- row -->

<!-- action icons, row 2 -->
<div class="row action-icon-row" >

	<!-- Backup school icon -->
	<div class="col-xs-2 col-xs-offset-2 text-center" title="Backup data of Super focus school">
		<div class="action-div">
			<%= link_to school_backup_path do %>
				<%= render 'action_icon', icon_color: "action-icon-lightblue", fa_icon: "fa-floppy-o" %>
			<% end %>
		</div>
		<%= link_to school_backup_path do %>Backup school<% end %>
	</div>

	<!-- Suspend school icon -->
	<div class="col-xs-2 text-center" title="Suspend all teachers at Super focus school">
		<div class="action-div">
			<%= link_to school_suspend_path do %>
				<%= render 'action_icon', icon_color: "action-icon-darkgray", fa_icon: "fa-bomb" %>
			<% end %>
		</div>
		<%= link_to school_suspend_path do %>Suspend school<% end %>
	</div>

	<!-- Retore school icon -->
	<div class="col-xs-2 text-center" title="Restore teacher logins at Super focus school">
		<div class="action-div">
			<%= link_to school_restore_path do %>
				<%= render 'action_icon', icon_color: "action-icon-yelloworange", fa_icon: "fa-undo" %>
			<% end %>
		</div>
		<%= link_to school_restore_path do %>Restore school<% end %>
	</div>
	
</div>   <!-- 2nd row of icons -->

<!-- Super powers icons are first: all schools and super report -->
<div class="row">
	<div class="col-xs-5 col-xs-offset-1">
		<br>
		<h4>Super powers</h4>
	</div>
</div>

<div class="row first-content-row" >

	<!-- All schools action icon -->
	<div class="col-xs-2 col-xs-offset-2 text-center" title="View/edit schools">
		<div class="action-div">
			<%= link_to schools_path do %>
				<%= render 'action_icon', icon_color: "action-icon-blue", fa_icon: "fa-home" %>
			<% end %>
		</div>
		<%= link_to schools_path do %>All schools<% end %>
	</div>

	<!-- Super report action icon -->
	<div class="col-xs-2 text-center" title="GeoGem stats for Super">
		<div class="action-div">
			<%= link_to super_report_path do %>
				<%= render 'action_icon', icon_color: "action-icon-gray", fa_icon: "fa-file-text" %>
			<% end %>
		</div>
		<%= link_to super_report_path do %>Super report<% end %>
	</div>

</div>   <!-- first row of icons -->
