<!-- Author: Robert H -->
<%= form_for(school) do |f| %>
  <%= render 'error_messages', object: f.object %>

  <!--  name -->  
  <div class="row form-row">
    <div class="col-xs-2 col-xs-offset-1"><h4>Name: </h4></div>
    <div class="col-xs-4">
      <% if local_assigns[:isNew] %>
			  <%= f.text_field :full_name, required: true, class: 'form-control' %>
			<% else %>
        <%= f.text_field :full_name, :readonly => true, class: 'form-control' %>
			<% end %>
    </div>
  </div>

  <!-- school icon includes color, icon choice, and interactive sample -->
	<div class="row">
		<div class="col-xs-2 col-xs-offset-1"><h4>School Icon:</h4></div>
	</div>

	<div class="row form-row vertical-align">
		<!-- color and icon spinners in the 1st column -->
		<div class="col-xs-4 col-xs-offset-3">
			<div class="row">
				<div class="col-xs-3"><h4>Color: </h4></div>
				<div class="col-xs-7 col-xs-offset-1">
					<%= f.select :color, schoolColors.map {|color| [color.titleize, color]}, 
											{}, {class: 'form-control'} %>
				</div>
			</div>   <!-- row, color spinner -->
			<div class="row">
				<div class="col-xs-3"><h4>Icon: </h4></div>
				<div class="col-xs-7 col-xs-offset-1">
					<%= f.select :icon, schoolIcons.map {|icon| [icon.titleize, icon]}, 
									{}, {class: 'form-control'} %>
				</div>
			</div>   <!-- row, icon spinner -->
		</div>   <!-- form selects col -->

		<!-- sample school icon in the 2nd column; it's interactive! -->
		<div class="col-xs-4">
			<div class="col-xs-2">
				<div id="sample-school-color" class="school-icon <%= icon_color(school) %>" 
									title="school=<%= school.full_name %>" >
					<span id="sample-school-icon" class="fa fa-3x fa-fw <%= fa_icon(school) %> "></span>
				</div>
			</div>
		</div>   <!-- sample icon col -->
	</div>   <!-- color+icon row -->

	<div class="form-spacer">	&nbsp;</div>
 
  <!--  email -->  
  <div class="row form-row">
    <div class="col-xs-2 col-xs-offset-1"><h4>Email: </h4></div>
    <div class="col-xs-4">
      <%= f.text_field :email, required: true, class: "form-control"  %>    				
    </div>
  </div>

  <!-- website -->  
  <div class="row form-row">
    <div class="col-xs-2 col-xs-offset-1"><h4>Website: </h4></div>
    <div class="col-xs-4">
      <%= f.text_field :website, class: "form-control"  %>    				
    </div>
  </div>



  <!-- extra school info (optional) -->  
	<div class="row form-row">
		<div class="col-xs-2 col-xs-offset-1"><h4>School Info: <br><small>(optional)</small></h4></div>
		<div class="col-xs-6">
      <%= f.text_area :description, class: "form-control info-textarea" %>
		</div>
	</div>


  <!-- OK/Cancel buttons -->
	<div class="row form-row  pad40">
		<div class="col-xs-6 col-xs-offset-1 text-center">
		  <% if local_assigns[:isNew] %>
		    <!-- OK/Cancel buttons for super user creating a school -->
		    <%= button_tag(type: 'submit', class: "btn btn-success") do %>Add New School<% end %>
  		  &emsp; &emsp; &emsp;
  		  <%= link_to "Cancel", schools_path, :class => "btn btn-danger", 
		        :title => "Back to All Schools page" %>

		  <% else %>
		    <!-- OK/Cancel buttons for Admin user editing a school -->
        <%= button_tag(type: 'submit', class: "btn btn-success") do %>Change School<% end %>
  		  &emsp; &emsp; &emsp;
        <%= link_to "Cancel", admin_path, :class => "btn btn-danger", 
		        :title => "Back to Admin page" %>
		  <% end %>
		</div>
	</div>

<% end %>

<!-- 
	Javascript below is specifically for this School new/edit page.
	It makes the sample school icon change interactively with color or icon spinner.
	CSS ID's make this (spaghetti code) work: 
		#school_color - the Rails-created ID for the color spinner
		#school_icon - the Rails-created ID for the icon spinner
		#sample-school-color - div where sample icon color is set
		#sample-school-icon - div where sample FA icon is set
-->
<script>
	$(document).ready(function() {
		$('#school_color').change(function(){
			setColor();
		});
		$('#school_icon').change(function(){
			setIcon();
		});
	});

	function setColor() {
		var color =  $('#school_color').find('option:selected').attr('value');
		$('#sample-school-color').removeClass();
		$('#sample-school-color').addClass('school-icon');
		$('#sample-school-color').addClass('i-' + color);
	}
	function setIcon() {
		var icon =  $('#school_icon').find('option:selected').attr('value');
		$('#sample-school-icon').removeClass();
		$('#sample-school-icon').addClass('fa fa-3x fa-fw');
		$('#sample-school-icon').addClass('fa-' + icon);
	}
</script>
