<!-- Author: Robert H -->
<%= form_for(school) do |f| %>
  <%= render 'error_messages', object: f.object %>

<!--  name -->  
<div class="row form-row2">
	<div class="col-xs-10 col-md-6 col-lg-4 form-group">
  	<label for="nameField">Name</label>
    <% if local_assigns[:isNew] %>
		  <%= f.text_field :full_name, required: true, class: 'form-control form-input-tweak' %>
		<% else %>
      <%= f.text_field :full_name, :readonly => true, class: 'form-control form-input-tweak' %>
		<% end %>
  </div>
</div>   <!-- row -->

<div class="form-spacer"></div>

<!-- school icon includes color, icon choice, and interactive sample -->
<div class="row form-row2">

	<!-- color and icon spinners in the 1st column -->
	<div class="col-xs-6 form-group">
		<div class="row">
			<div class="col-xs-12">
				<label for="colorField">Color</label>
				<%= f.select :color, schoolColors.map {|color| [color.titleize, color]}, 
							{}, {class: 'form-control form-input-tweak'} %>
			</div>

			<div class="col-xs-12 pad20">
				<label>Icon</label>
				<%= f.select :icon, schoolIcons.map {|icon| [icon.titleize, icon]}, 
							{}, {class: 'form-control form-input-tweak'} %>
			</div>
		</div>   <!-- row --> 
	</div>   <!-- first col -->
  
	<div class="col-xs-5 col-xs-offset-1 pad40">
		<div id="sample-school-color" class="school-icon <%= icon_color(school) %>" 
					title="school=<%= school.full_name %>" >
			<span id="sample-school-icon" class="fa fa-3x fa-fw <%= fa_icon(school) %> "></span>
		</div>
  </div>

</div>  

<div class="form-spacer">	&nbsp;</div>

<!--  email -->  
<div class="row form-row2">
	<div class="col-xs-10 col-md-6 col-lg-4 form-group">
		<label>Email</label>
		<%= f.text_field :email, required: true, class: "form-control form-input-tweak"  %> 
	</div>

	<div class="col-xs-10 col-md-6 col-lg-4 form-group">
		<label>Website</label>
		<%= f.text_field :website, class: "form-control form-input-tweak"  %>
	</div>

	<div class="clearfix"></div>

	<div class="col-xs-10 col-md-12 form-group">
		<label>School info</label>
		<%= f.text_area :description, class: "form-control form-input-tweak info-textarea" %>
	</div>
</div>   <!-- row -->


<!-- OK/Cancel buttons -->
<div class="row form-row pad20">
	<div class="col-xs-6 col-xs-offset-1 text-center">
	  <% if local_assigns[:isNew] %>
	    <!-- OK/Cancel buttons for super user creating a school -->
	    <%= button_tag(type: 'submit', class: "btn btn-success") do %>Add New School<% end %>
		  &emsp; &emsp; &emsp;
		  <%= link_to "Cancel", schools_path, :class => "btn btn-danger", 
	        :title => "Back to All Schools page" %>

	  <% else %>
	    <!-- OK/Cancel buttons for Admin user editing a school -->
      <%= button_tag(type: 'submit', class: "btn btn-success") do %>Change School<% end %>
		  &emsp; &emsp; &emsp;
      <%= link_to "Cancel", admin_path, :class => "btn btn-danger", 
	        :title => "Back to Admin page" %>
	  <% end %>
	</div>
</div>

<% end %>

<!-- 
	Javascript below is specifically for this School new/edit page.
	It makes the sample school icon change interactively with color or icon spinner.
	CSS ID's make this (spaghetti code) work: 
		#school_color - the Rails-created ID for the color spinner
		#school_icon - the Rails-created ID for the icon spinner
		#sample-school-color - div where sample icon color is set
		#sample-school-icon - div where sample FA icon is set
-->
<script>
	$(document).ready(function() {
		$('#school_color').change(function(){
			setColor();
		});
		$('#school_icon').change(function(){
			setIcon();
		});
	});

	function setColor() {
		var color =  $('#school_color').find('option:selected').attr('value');
		$('#sample-school-color').removeClass();
		$('#sample-school-color').addClass('school-icon');
		$('#sample-school-color').addClass('i-' + color);
	}
	function setIcon() {
		var icon =  $('#school_icon').find('option:selected').attr('value');
		$('#sample-school-icon').removeClass();
		$('#sample-school-icon').addClass('fa fa-3x fa-fw');
		$('#sample-school-icon').addClass('fa-' + icon);
	}
</script>
