<!-- changed by Robert Herrera -->
<%= form_for(school) do |f| %>
  <% if school.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(school.errors.count, "error") %> prohibited this school from being saved:</h2>

      <ul>
      <% school.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<!--  School Icon Name -->  
  <div class="row form-row">
    <div class="col-xs-2 col-xs-offset-1"><h4> School ID: </h4></div>
    <div class="col-xs-2">
      <%= f.text_field :screen_name, class: "form-control", :readonly => true %>	
    </div>
  </div>
	
<!--  School Name -->  
  <div class="row form-row">
    <div class="col-xs-1 col-xs-offset-1"><h4>School Name: </h4></div>
    <div class="col-xs-4 col-xs-offset-1">
      <%= f.text_field :full_name, class: "form-control", :readonly => true  %>    				
    </div>
  </div>

  <div class="" form-spacer="">	&nbsp;</div>

<!--  School Email -->  
  <div class="row form-row">
    <div class="col-xs-1 col-xs-offset-1"><h4>Email: </h4></div>
    <div class="col-xs-4 col-xs-offset-1">
      <%= f.text_field :email, class: "form-control"  %>    				
    </div>
  </div>

<!--  School Website -->  
  <div class="row form-row">
    <div class="col-xs-1 col-xs-offset-1"><h4>Website: </h4></div>
    <div class="col-xs-4 col-xs-offset-1">
      <%= f.text_field :website, class: "form-control"  %>    				
    </div>
  </div>

<!-- Show School Color Field -->
  <div class="row form-row">
		<div class="col-xs-1 col-xs-offset-1">
		  <h4>Color: </h4></div>
		<div class="col-xs-4 col-xs-offset-1">
      <%= f.select :color, ['navy','red','yellow',
      ['light blue', 'ltblue'],['light orange','ltorange'],'green','lavender','plum','mint','pink',
      ['dark orange','dkorange']]%>
		</div>
	</div>
	
<!-- Show School Description Field -->
	<div class="row form-row">
		<div class="col-xs-1 col-xs-offset-1"><h4>Description: </h4></div>
		<div class="col-xs-6 col-xs-offset-1">
		  <%= f.text_area :description, class: "form-control"  %>
		</div>
	</div>

  <!-- This area displays the save or cancel buttons
 It uses an If statment to test a passed in value "isNew"
 to determine which button text will show 
 Matt O -->


<div class="row action-buttons-row">
	<div class="col-sm-1 col-sm-offset-1"> 
	  <%= button_tag(type: 'submit', class: "btn btn-success") do %>  
	  	Save Changes
	  <% end %>
	</div>
	<div class="col-sm-1 col-sm-offset-1"> 
		<%= link_to "Cancel", super_path, :class => "btn btn-danger" %>
	</div>
</div>

<!-- END OF FORM -->
<% end %>
