<!-- Edited by Dakota B and Robert H-->

			<!-- page header -->
		<div class="page-header vertical-align">
			<div class="col-xs-11">
				<h2>All Schools<small> - View or Edit all schools</small></h2><!-- Dynamically fills in with school id -->
			</div>
			<div class="col-xs-1 pull-right">
				<div class="header-sq i-<%= @current_teacher.color %>" title=<%= @current_teacher.screen_name %>>
					<span class="fa fa-<%= @current_teacher.icon %> fa-3x teacher-icon"></span>
				</div>
			</div>
		</div><!--End page header-->

			<!-- new school button -->
			<div class="row">
				<div class="col-xs-3 col-xs-offset-1">
					<form  action="schools/new">
						<button type="submit" class="col-sm-offset-1 btn btn-lg btn-success">
							<i class="fa fa-plus-square-o"></i> New School
						</button>
					</form>
				</div>   <!-- col -->
    	</div>   <!-- row -->

			<!-- all school table -->
	    <table class="table table-striped table-hover table-responsive schools-table">
	   		<thead>
	   			<tr>
					<th>Icon</th>
					<th>ID</th>
					<th>Name</th>
					<th>Description</th>
				</tr>
				</thead>
				
				<!-- This section is responsible for listing all of the schools in the database into the schools index page -->
				<tbody>
					<%= will_paginate %>
			        <% @schools.each do |school| %>
				    <tr data-link=<%= edit_school_path(school.id) %>>	 	
		        			<td>
								<div class="table-sq i-plum" title="<%= school.full_name %>">
									<div class="table-sq i-<%= school.color%>">
										<i class="fa fa-home fa-2x school-icon"></i>
									</div>
								</div>
							</td>
							<td>
						     	<%= school.screen_name %>
		        			</td>
		        															   		
					 		<td>
						      	<%= school.full_name %>
		        			</td>
	
							<td>
								 <%= school.description %> 
							</td>
					</tr>
				    <% end %>
				</tbody>
			</table>
<%= will_paginate %>