<!-- Edited by Dakota B and Robert H-->
<% provide(:title, "All schools") %>

<!-- page header -->
<%= render partial: 'teachers/super_page_header', 
			:locals => { 	:title => "All schools", 
										:subtitle => "view/manage all schools in GeoGem"} %>

<!-- Start with school info and the New School button -->
<div class="row first-content-row">
	<div class="col-xs-5 col-xs-offset-1">
    <h4>There <%= School.count == 1 ? 'is' : 'are' %> <%= pluralize(School.count, "school") %> in GeoGem. </h4>
  </div>
	<div class="col-xs-5 text-center">
		<%= button_to new_school_path, method: :get, class: 'btn btn-lg btn-success' do %>
  		<span class="fa fa-fw fa-lg fa-plus-square-o"></span> New School
		<% end %>
	</div>   <!-- col -->
</div>   <!-- row -->

<!-- all schools table -->
<div class="row">
	<div class="col-xs-10 col-xs-offset-1">

<table class="table table-striped table-hover table-responsive schools-table">
 	<thead>
 		<tr>
		<th>Icon</th>
		<th>ID</th>
		<th>Name</th>
		<th>Description</th>
	</tr>
	</thead>

	<!-- This section lists all schools in the database -->
	<tbody>
		<% @schools.each do |school| %>
			<tr data-link=<%= edit_school_path(school.id) %>>	 	
				<td>
					<div class="table-sq i-<%= school.color %>" title="school=<%= school.full_name %>">
						<i class="fa fa-fw fa-2x fa-<%= school.icon %> school-icon"></i>
					</div>
				</td>
				<td> <%= school.screen_name %> </td>
		 		<td> <%= school.full_name %> </td>
				<td> <%= school.description %> </td>
			</tr>
		<% end %>
	</tbody>
</table>
<%= will_paginate %>

	</div>   <!-- col -->
</div>   <!-- row -->

