<!-- Author: UX Team. Edited by Robert Herrera and Dakota B -->
<% provide(:title, "Restore school") %>

<!-- page header -->
<%= render partial: 'schools/school_page_header', 
			:locals => { 	:title => "Restore school", 
										:subtitle => "restore all teacher logins at #{ @school.full_name}"} %>

<div class="row first-content-row content-text">
	<div class="col-xs-10 col-xs-1">
		<p>
			Super's focus school: 
			<span style="color: <%= @school.color %>; font-size: 1.2em; font-weight: bold;">
				<%= @school.full_name %>
			</span>
		</p>
		<p>
			Number of suspended teachers at this school:
			<span style="color: gray; font-size: 1.2em; font-weight: bold;">
				<%= pluralize(@teacher_count, "teacher") %>
			</span>
		</p>
	</div>   <!-- col-->
</div>   <!-- row -->

<!-- OK/cancel buttons -->
<div class="row first-content-row">
	<div class="col-xs-10 col-xs-offset-1">
		<%= form_for( @school, :url => { :action => :do_restore }) do |f| %>
			<%= button_tag(type: 'submit', :disabled => (@teacher_count <= 0), 
												class: "btn btn-success") do %>Restore school<% end %>
			&nbsp; &nbsp; &nbsp;
			<%= link_to "Cancel", super_path, :class => "btn btn-danger" %>
		<% end %>
	</div>
</div>
