<!-- Author: UX Team. Edited by Robert Herrera and Dakota B -->
<% provide(:title, "Suspend school") %>

<!-- page header -->
<%= render partial: 'school_page_header', 
			:locals => { 	:title => "Suspend school",
										:subtitle => "suspend all teacher logins at #{ @school.full_name}"} %>

<%= form_for(@school) do |f| %>
<div class="row form-row2">

	<!-- FOCUS SCHOOL -->
	<div class="col-xs-10 col-md-8 form-group">
		<label>Focus school</label>
   	<%= f.text_field :full_name, :readonly => true, class: 'form-control form-input-tweak' %>
	</div>
</div>   <!-- row -->
<% end %>

<div class="row form-row2 pad20 content-text">
	<div class="col-xs-10">
		<p style="font-style: italic; color: gray;">
			README - How do you suspend a school? <br>
			You visit each active (un-suspended) teacher at the school and suspend him/her. 
		</p>
		<p>
			<br>
			Active teachers at this school:
			<span style="color: blue; font-size: 1.2em; font-weight: bold;">
				&nbsp;
				<%= pluralize(@teacher_count, "teacher") %>
			</span>
		</p>
	</div>   <!-- col -->
</div>   <!-- row -->

<!-- OK/cancel buttons -->
<div class="row form-row2 pad40">
	<div class="col-xs-10">
		<%= form_for( @school, :url => { :action => :do_suspend }) do |f| %>
			<%= button_tag(type: 'submit', :disabled => (@teacher_count <= 0), 
											class: "btn btn-lg btn-success") do %>Suspend school<% end %>
			&nbsp; &nbsp; &nbsp;
			<%= link_to "Cancel", super_path, :class => "btn btn-lg btn-danger",
						:title => "Back to Super page" %>
		<% end %>
	</div>
</div>

