<!-- Author: UX Team. Edited by Robert Herrera and Dakota B -->
<% provide(:title, "Suspend school") %>

<!-- page header -->
<%= render partial: 'schools/school_page_header', 
			:locals => { 	:title => "Suspend school", 
										:description => "suspend all teacher logins"} %>

<div class="row first-content-row content-text">
	<div class="col-xs-10">
		<p>
			Super's focus school: 
			<span style="color: <%= @school.color %>; font-size: 1.2em; font-weight: bold;">
				<%= @school.full_name %>
			</span>
		</p>
		<p>
			Active teacher count at this school:
			<span style="color: gray; font-size: 1.2em; font-weight: bold;">
					<%= @teacher_count %> teachers
			</span>
		</p>
	
		<form class="form-horizontal" action="super">
			<!-- Action buttons -->
			<div class="row action-buttons-row">
				<div class="col-xs-4 col-xs-offset-1 text-center"> 
					<%= form_for :@activeTeachers do |t| %>
								<%= t.hidden_field :suspended, :value=>true, class: 'form-control' %>
								<%= button_tag(type: 'submit', class: "btn btn-success") do %>  
		  						Suspend School
		  					<% end %>
					<% end %>
					&nbsp; &nbsp; &nbsp;
					<button type="submit" class="btn btn-danger">Cancel</button></div>
			</div>
		</form>

	</div>   <!-- end col -->
</div>   <!-- end row -->
