<head>
	<%= csrf_meta_tags %>
	<%= favicon_link_tag %>
	<title>GeoGem</title>
    <%= render 'layouts/shim' %>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script> 
	<script src="https://use.fontawesome.com/6ac119a099.js"></script>	
	<%= render 'layouts/shim' %> 
</head>
