<!--This is the admin version of the profile view. They can change anything. -->
<%= form_for(@teacher) do |f| %>
  <% if @teacher.errors.any? %>
    <div id="error_explanation">
      <div class="alert alert-danger">
      <%= pluralize(@teacher.errors.count, "error") %> prohibited this teacher from being saved:
      </div>
      <ul>
      <% @teacher.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<!-- Teacher ID -->
<div class="row form-row">
	<div class="col-sm-2 col-sm-offset-1"><h4>Username: </h4></div>
	<div class="col-sm-2">
		<%= f.text_field :user_name, class: 'form-control', id: 'teacherID', :readonly => true %>
	</div>
</div>

<!-- Teacher name field -->
<div class="row form-row">
	<div class="col-xs-1 col-xs-offset-1"><h4>Name: </h4></div>
	<div class="col-xs-4 col-xs-offset-1">
		<%= f.text_field :full_name, class: 'form-control', id: 'teacherName', :readonly => true %>
	</div>
</div>

<!-- Teacher screen_name field -->
<div class="row form-row">
	<div class="col-xs-1 col-xs-offset-1"><h4>Teacher ID: </h4></div>
	<div class="col-xs-4 col-xs-offset-1">
		<%= f.text_field :screen_name, class: 'form-control', :readonly => true %>
	</div>
</div>  

<!-- Teacher Email -->
<div class="row form-row">
	<div class="col-sm-offset-1 col-sm-2"><h4>Email: </h4></div>
	<div class="col-sm-4 col-sm-offset-0">
		<%= f.email_field :email, class: 'form-control', id: 'email' %>
	</div>
</div>

<!-- Teacher Admin -->
<div class="row form-row vertical-align">
	<div class="col-sm-offset-1 col-sm-2"><h4>Access: </h4></div>
    <div class="col-sm-4 col-sm-offset-0">
			<%= f.select :powers, ["SessionOnly", "Teacher", "Admin"], 
			class: 'form-control'%>
		</div>
</div>

<!-- a little extra space after name/email -->
<div class="form-spacer">	&nbsp;</div>
<div class="row form-row vertical-align">
	<div class="col-sm-offset-1 col-sm-2"><h4>Color: </h4></div>
	<div class="col-sm-4 col-sm-offset-0">
		<%= f.select :color, teacherColors.map {|color| [color.titleize, color]}, {}, {class: 'form-control'} %>
	</div>
</div>

<!-- teacher icon field -->
<div class="row form-row">
	<div class="col-xs-1 col-xs-offset-1"><h4>Icon: </h4></div>
	<div class="col-xs-4 col-xs-offset-1">
		<%= f.select :icon, teacherIcons.map {|icon| [icon.titleize, icon]}, {}, {class: 'form-control'} %>
	</div>
</div>

<!-- Teacher description field -->
<div class="row form-row">
	<div class="col-sm-offset-1 col-sm-2"><h4>Description: </h4></div>
	<div class="col-sm-6 col-sm-offset-0">
		<%= f.text_field :description, class: 'form-control', id: 'Description' %>
	</div>
</div>  

<div class="row form-row">
	<div class="col-sm-1 col-sm-offset-1"><br></div>
</div>

<!--Buttons area-->
<div class="row action-buttons-row">
	<div class="col-sm-1 col-sm-offset-1"> 
	  <%= button_tag(type: 'submit', class: "btn btn-success") do %>  
	  	Save Changes 
	  <% end %>
	</div>
	<div class="col-sm-1 col-sm-offset-1"> 
		<%= link_to "Cancel", teachers_path, :class => "btn btn-danger" %>
	</div>
</div>
<% end %>
