<!DOCTYPE html>
<html>
	<head>
		<title><%= full_title(yield(:title)) %></title>
		<meta name="description" content="Collect and analyze student behavior for teachers and schools">
		<meta name="keywords" content="behavior,autism,student,teacher">
		<meta name="author" content="William T Krieger, CSC 495">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<%= csrf_meta_tags %>
		<%= favicon_link_tag %>
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
		<%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" %>
		<%= javascript_include_tag "https://www.gstatic.com/charts/loader.js", "chartkick" %>
		<%= render 'layouts/shim' %> 
	</head>

	<body>
		<%= render 'layouts/navbar' unless @special_navbar_and_layout %>

		<!-- begin contain and render flashes, if any -->
		<% if not @special_navbar_and_layout %>

<div class="container">
	<div class="col-xs-12 col-lg-10 col-lg-offset-1 content-col">
		<%= render 'layouts/flash' %>

		<% end %>

		<%= yield %>

		<%= render 'layouts/footer' %>
		<%= debug(params) if Rails.env.development? %>

		<!-- end container -->
		<% if not @special_navbar_and_layout %>
</div>   <!-- content-col -->
	</div>   <!-- container -->
		<% end %>

	</body>
</html>
